[2019-02-01 15:09] darkvertex opened #1 "Not grouping by date for me, and text is white by default"
I want to love this extension, and the screenshots look like pretty much what I'd want.

However I tried it today and it's not very usable. I think some of the styling broke, and tried changing different inbox modes but it's not grouping by date like I saw in the screenshots.

What can I do to help you debug this? This is what I'm getting: (Some personal areas I pixelized, but it's pretty much as-

[2019-02-01 15:42] boukestam commented on #1
Hi,

Thanks a lot for the information. At my side everything still looks fine, so it's maybe a different version of gmail or something else is interfering.

Are there maybe some other extensions that are interfering with the styling?
If not, could you send a snapshot of the HTML of some of the elements that look wrong? You can do this in the debugger, if you just select the tabs for example you do

[2019-02-01 16:36] darkvertex commented on #1
I don't really use any extensions that affect styling of pages and beyond my favourite adblocker (uBlock Origin), my extensions don't really "edit" pages either, and I have it disabled for Gmail since their ads don't annoy me.

I went a step further, opened an incognito window, enabled your extension to work in incognito (it's a setting you can turn on for all extensions that is off by default.) T

[2019-02-02 18:23] boukestam commented on #1
Thanks for making sure it's not a problem with another extension.

I've fixed the error you saw in a new version, it should be up in an hour or. If it doesn't download automaticly you can update in the chrome://extensions page. I'm not sure if that fixes the styling problem, if it doesn't you can copy the HTML in the "Elements" tab of the chrome developer tools. Having the html of the effected sec

[2019-02-04 19:51] darkvertex commented on #1
I checked my browser's extension version and it was on 0.3.5 which seems to be the latest you speak of.

I have some good news and some bad news. Let's start with the good news... date grouping works now. :) Bad news... still virtually all white and can't read a thing in the UI. lol

Here's some `outerHTML` copied from an all-white email row, if it helps:

[code]

[2019-02-06 08:54] boukestam commented on #1
The html classes match with what I have, so that can't be the problem.
I've managed to replicate the problem though, by switching to the dark theme.
This makes all text white.

![image](https://user-images.githubusercontent.com/8492132/52330213-24a48980-29f5-11e9-98a0-d0b3627c573e.png)

You can change the theme back to normal under settings => themes.
Could you check if that is the problem?

[2019-02-06 19:18] darkvertex commented on #1
Yay! That was it!! :smile: I switched to the Default theme and I can read everything.

I can live with setting leaving the theme at Default for now, though if your extension can somehow adapt to recognize dark themes and style accordingly, that'd be great of course.

Worst case scenario if you can at least add a mention in the extension description and README that it only works with the Default th

[2019-02-07 08:43] boukestam commented on #1
Nice! I'll make sure to add it to the description, thats a good idea.
I'll also think about a dark theme, that is a nice addition.
Thanks a lot for helping me fix this bug!

[2019-02-07 08:43] #1 closed, assigned to nobody

[2019-03-31 22:53] russelldc opened #6 "Every email sent to myself shows as a reminder"
According to the description on the Chrome Web Store:

Instead, it's doing this for every email, not just those with "Reminder" in the subject.

[2019-03-31 22:55] russelldc opened #7 "Link in extension menu goes to unrelated site"
Right click this extension in the top right menu in Chrome, and click on the first option, 'Inbox in Gmail'. Rather than sending the user to either the Chrome Web Store or this Github repo, it's a link to http://extensionizr.com

[2019-04-01 15:59] russelldc opened #8 "Font should be Helvetica, rather than Roboto"
A review left on the Chrome Web Store mentioned this:

- Jennifer Carr

And she supplied this css:

[code]

[2019-04-01 17:08] russelldc opened #9 "Icons shouldn't show bubble on hover"
In Inbox, the icons on an email in the list, for example, the checkbox on the left, the Done checkmark icon, the Snooze icon, etc. do not show a circle/bubble on hover.

It looks a bit crowded as it is now, although an alternative fix would be to add more padding to the email cards in the list.

[2019-04-04 20:59] russelldc opened #10 "Change header title and background color when in folders other than the main Inbox"
When in the Inbox, the header title should display 'Inbox' and the background color should be #4285f4, same as it is now, probably.

Similarly,

- Snoozed folder should change the header background color to #ef6c00 and title to 'Snoozed'
- Done (All Mail) folder should change the header background color to #0f9d58 and title to 'All Mail'
- All other folders should change the header background colo

[2019-04-05 13:20] russelldc commented on #7
Solved in PR #3

[2019-04-05 13:20] #7 closed, assigned to nobody

[2019-04-05 13:40] russelldc commented on #8
Added these changes in PR #3

[2019-04-05 13:40] #8 closed, assigned to nobody

[2019-04-06 00:26] russelldc commented on #9
This has been done in PR #3

[2019-04-06 00:26] #9 closed, assigned to nobody

[2019-04-06 22:45] joeytroy opened #13 "Compose button disappears when I use the side bar"
![image](https://user-images.githubusercontent.com/1558465/55676135-5ae27600-588b-11e9-87fc-b16f0bea0e31.png)

[2019-04-07 00:26] russelldc opened #14 "Chrome Web Store has outdated screenshot"
The screenshot should be updated to better represent the current state of the UI

[2019-04-07 06:24] SharonPerp commented on #6
And on mine, it doesn't show the actual reminder, just a blank subject field.

[2019-04-07 06:49] SharonPerp opened #15 "Click to toggle on/off not working after cookie set"
The click that toggles the extension on and off only works the first time I use it. Then it will work again when I delete all the gmail cookies, which obviously defeats the purpose.

Fantastic extension though, life changing since Inbox died. Thank you!

[2019-04-07 19:54] abasiri commented on #6
@SharonPerp PR #12 also fixes the missing subject field for reminders.

[2019-04-08 13:21] joeytroy opened #16 "Dark Mode is not working"
Thank you so much for the Add-on. Unfortunately the font describing my mails seems to be the same color as the background and thus the messages are unreadable until opened (Sadly I can't attach a screenshot). It might have something to do with Chrome's dark mode?

[2019-04-08 13:49] russelldc commented on #15
@SharonPerp Could you explain more? As far as I'm aware, this extension does not have an on/off toggle.

[2019-04-08 13:50] russelldc commented on #13
More reason to get rid of the right side bar 😈Just kidding (mostly...)

[2019-04-08 13:52] russelldc opened #17 "The empty inbox background image has a thin colored line at the bottom"
<img width="1636" alt="Screen Shot 2019-04-08 at 2 48 21 PM" src="https://user-images.githubusercontent.com/5100126/55729306-cfddb900-5a0d-11e9-8f05-43abfe15fb27.png">

There's a thin gray(?) line at the very bottom of the sun image. It might be a shadow or a border, not quite sure.

[2019-04-08 14:12] russelldc commented on #17
Found the source of the issue, it's a border:

[code]

This class only seems to be present when there's no emails on the page, so it may be good enough to just add a border-bottom: none on this class via the extension.

[2019-04-08 14:17] russelldc commented on #17
Solved in PR #18

[2019-04-08 14:17] #17 closed, assigned to nobody

[2019-04-08 14:22] russelldc opened #19 "Should be able to click Done checkmark while in Archive/Done folder to Un-archive an email"
I think the way it worked in Inbox was that the Done checkmark icon was still available, but clicking it would send emails back to the Inbox / unarchive them. Right now, the checkmark icon button is visible but disabled.

[2019-04-08 14:33] russelldc opened #20 "Sun background image displays at the bottom of Search results"
@g60madman I'm seeing the sun image show up on search results, whenever there's more than one page of results.

<img width="1680" alt="Screen Shot 2019-04-08 at 3 31 29 PM" src="https://user-images.githubusercontent.com/5100126/55732206-81331d80-5a13-11e9-8486-6f0ddbcc388e.png">

[2019-04-08 14:34] russelldc commented on #20
Sometimes it looks like this, which may be a better hint as to what's causing it:

<img width="1680" alt="Screen Shot 2019-04-08 at 3 33 55 PM" src="https://user-images.githubusercontent.com/5100126/55732365-c48d8c00-5a13-11e9-8058-502ee593c9ee.png">

[2019-04-08 15:37] joeytroy commented on #13
lol fixed https://github.com/inbox-in-gmail/inbox-in-gmail/commit/0772e62a49de0271a092882d49cf8cd04dfb8429

[2019-04-08 15:37] #13 closed, assigned to nobody

[2019-04-08 21:47] SharonPerp commented on #6
Thanks!

On Sun, Apr 7, 2019 at 12:54 PM Ali B <notifications@github.com> wrote:

[2019-04-08 21:50] SharonPerp commented on #15
Wow, I figured it out and it's really great. Sometimes I like to switch
back to regular gmail to work with colored labels. The problem was, I
wasn't refreshing after clicking. This screenshot should help:

[image: image.png]

On Mon, Apr 8, 2019 at 6:49 AM Daniel Russell <notifications@github.com>
wrote:

[2019-04-08 21:51] SharonPerp commented on #15
Oh, boo, it only worked the first time again. It's really great when it
works. :-(

On Mon, Apr 8, 2019 at 2:50 PM Sharon P <SharoneyP@gmail.com> wrote:

[2019-04-08 21:55] SharonPerp commented on #15
So, sorry to spam you, but I guess it's not really the toggle I thought it
was. I guess it just enables it on gmail the one time. Wonder if I could
block that one cookie if it would toggle back and forth when refreshing...?

On Mon, Apr 8, 2019 at 2:51 PM Sharon P <SharoneyP@gmail.com> wrote:

[2019-04-08 22:52] SharonPerp commented on #15
Last spam, I promise! I found a decent work around.

When I close gmail it reset, even without dealing with cookies. So, before
clicking, I opened a second gmail tab and only clicked on the first tab so
it's Inbox in Gmail and the second tab is classic Gmail.

Not sure what would happen if I refreshed  second tab, but I think it will
be fine for me as often as I need to use classic.

Really enjoyi

[2019-04-09 01:52] oscarryz opened #21 "Click on title should close email"
Thanks for the chrome extension.
Is it possible to add the feature where clicking on the email title closes the email?

[2019-04-09 10:21] russelldc commented on #15
Haha, I still have no idea what you're talking about, exactly. It looks like your screenshot wasn't uploaded properly, it just says ' [image: image.png]'

[2019-04-09 10:24] russelldc commented on #15
If you're talking about going to the Extensions page of the Chrome browser settings, and disabling this extension, that should work 100% of the time. This extension isn't interacting with cookies. When you disable any Chrome extension, you need to refresh the relevant tab (Gmail, in this case) to see the changes.

[2019-04-09 10:26] russelldc commented on #15
Could you also explain the colored labels that's keeping you attached to classic Gmail? Perhaps we can integrate them into the extension.

@g60madman , is that related to the colored star tags you were working on fixing?

[2019-04-09 10:28] russelldc commented on #21
Interesting, I'll try working on this. In case you want a better experience in the meantime, I've turned on and customised the keyboard shortcuts in my Gmail settings, so I can hit the ESC key to return to the email list.

[2019-04-09 13:58] russelldc opened #23 "Pin icon now turns golden rather than blue when clicked"
I think this icon used to display blue like Inbox, a few days/merges ago.

<img width="188" alt="Screen Shot 2019-04-09 at 2 52 10 PM" src="https://user-images.githubusercontent.com/5100126/55806321-efd9af00-5ad7-11e9-851f-d1368c80bc11.png">

[2019-04-09 14:56] maoanran opened #24 "Available to firefox"
Thanks for the extension! is it possible to make the extension to be available in firefox?

I don't know how many efforts do we need, but I guess it should be not so much.

[2019-04-09 15:07] russelldc opened #25 "Large blank space above Inbox email list when using 'Unread First' or 'Starred First' inbox types"
Related to the recently merged PR #12 authored by @abasiri

I was incorrect in my comment on that PR. The new commit did not fix the top padding/spacing issue. It temporarily went away because I switched from the 'Unread First' or 'Starred First' inbox type to the 'Default' inbox type.

With the latest code, and the 'Unread First' or 'Starred First' inbox type, that large space is still present.

[2019-04-09 15:19] russelldc commented on #24
I tried loading it as an unpacked extension into Firefox, and it worked as expected.

@boukestam would just need to pack and deploy to the [Firefox Add-ons Store](https://addons.mozilla.org/en-GB/firefox/)

[2019-04-09 15:30] russelldc commented on #24
https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/Distribution/Submitting_an_add-on

[2019-04-09 17:31] joeytroy opened #26 "Please rename Starred as Pinned"

[2019-04-09 18:57] russelldc commented on #25
Actually, this is even happening on the Default inbox type, for my wife's account. Though I'm not sure why yet.

[2019-04-09 19:05] russelldc opened #27 "Right-side Hangouts chat (toggled in Advanced setting) has broken styling"
This problem was reported in the Support section of the Chrome web store:

I don't use Hangouts, so I wouldn't have known. It turns out that the background color is blue, but should be white. There's an element acting as a left border, and its background is set to blue. It looks more natural as #e5e5e5.

Also, the compose and reminder floating buttons display on top of it, but should be moved to t

[2019-04-09 19:21] russelldc opened #28 "Add toggle in extension options to hide Hangouts & the right-side tools menu"
Found this in the User Reviews on the Chrome web store:

I'd previously made a PR to remove them, but I think a good compromise could be made here:

Add a toggle to hide Hangouts & the right-side menu in the extension's options/right click dropdown menu.

[2019-04-09 19:23] russelldc opened #29 "Completely hide left menu rather than just shrink it"
Found this in the User Reviews on the Chrome web store:

We'll need to sort out a way to still keep the Compose button visible when the left menu is hidden.

[2019-04-09 19:29] joeytroy opened #30 "Right-hand side chat"
Moving the chat to the right-hand side (where it belongs) via the Advanced settings breaks the layout right now. Could you please look into that? Loving it otherwise!

[2019-04-09 19:38] russelldc opened #31 "Improve description on Chrome web store"
Found this in the Support section on the Chrome web store:

It looks like @boukestam has already added the 'No Dark Theme' advice to the Overview/Description, but it may be best to explicitly tell them to use the Default theme.

Chat on the Right might be fixed my myself soon, so no need to point that out, but I do think it'd make sense to mention that they'd get the best results by disabling the

[2019-04-09 21:17] abasiri commented on #25
Sorry to hear that. I'll take a look tonight. If you can inspect and see
which class is causing the passing, that would really help as I can't repro
on my account.

On Tue, Apr 9, 2019, 8:57 AM Daniel Russell <notifications@github.com>
wrote:

[2019-04-10 12:54] russelldc commented on #30
I added this already, as issue #27

[2019-04-10 17:03] joeytroy commented on #29
I agree, lets get rid of it 👍

[2019-04-10 18:16] russelldc commented on #27
Solved in PR #32 , should be merged soon

[2019-04-10 18:16] #27 closed, assigned to nobody

[2019-04-10 18:19] russelldc commented on #30
Solved in PR #32

[2019-04-10 18:24] joeytroy commented on #20
@russelldc check out this commit, it fixes most of the issues. If you feel it's good go ahead and close it out.

https://github.com/inbox-in-gmail/inbox-in-gmail/commit/05ce3ac3d71876e57e2bd6e18b2f440006bfc423

[2019-04-10 18:26] abasiri commented on #25
I have a repro. I'll submit a fix for it soon.

[2019-04-10 18:28] Muffo opened #33 "Safari version"
Any plan to release this extension for Safari?

[2019-04-10 18:28] joeytroy commented on #19
@russelldc If you take off the theme it's the same thing with normal gmail. Looks like gmail doesn't offer this feature right now and didn't think it through.

[2019-04-10 18:28] russelldc commented on #20
I'm seeing this ugly text now, I don't remember it being there in the previous commits:

<img width="558" alt="Screen Shot 2019-04-10 at 7 27 51 PM" src="https://user-images.githubusercontent.com/5100126/55904018-ccd9f880-5bc6-11e9-91a7-153e7d1628af.png">

[2019-04-10 18:30] Muffo opened #34 "Further simplify message view"
A number of elements displayed in the message view are redundant and could be removed.
I highlighted them in yellow:

![image](https://user-images.githubusercontent.com/538925/55904071-e1e16800-5b83-11e9-9912-b916a78f729e.png)

Most (all?) of them were not displayed in the original Inbox. If the user really needs them, they are still available in the menu marked in green.

[2019-04-10 18:31] joeytroy commented on #23
@russelldc this is normal behavior. You need to go to settings and change to the blue star from the gold star. Since I changed the pins to color coordinate with the stars here is an example of the blue pin and star.

![image](https://user-images.githubusercontent.com/1558465/55904155-6c2dca00-5b8c-11e9-8792-07591730b1dd.png)

![image](https://user-images.githubusercontent.com/1558465/55904183-7f40

[2019-04-10 18:31] russelldc commented on #19
Yup, I'm aware, but no reason we can't do it! 🔨

When you tick an email, or open it, in the top toolbar there's an option to Move to -> Inbox. This functionality could be copied over to the checkmark.

[2019-04-10 18:34] russelldc commented on #23
@g60madman Ahh, understood. Might be unexpected behavior for some users, I guess we'll see if anyone complains.

[2019-04-10 18:34] #23 closed, assigned to nobody

[2019-04-10 18:34] Muffo opened #35 "Unread message counter is not updated"
The unread message counter displayed in the sidebar on the left is not updated when I read messages.

![image](https://user-images.githubusercontent.com/538925/55904292-59af9280-5b84-11e9-90cd-49189e5f4bcb.png)

Note that the counter displayed in the browser tab (near the favicon) works OK.

[2019-04-10 18:36] joeytroy commented on #35
@Muffo This has been fixed. We have just hid the numbers since they do not update
https://github.com/inbox-in-gmail/inbox-in-gmail/commit/e9e3c92d4f19be1f72dbaca4b925fed22ba6e537

[2019-04-10 18:37] Muffo commented on #35
Great! No number is better than wrong number :)

[2019-04-10 18:37] #35 closed, assigned to nobody

[2019-04-10 18:37] russelldc commented on #20
@g60madman Doesn't seem like it fixed the problem I was reporting. I'm still seeing the Sun at the bottom of every page of my search results:

<img width="949" alt="Screen Shot 2019-04-10 at 7 36 48 PM" src="https://user-images.githubusercontent.com/5100126/55904575-1840d680-5bc8-11e9-8611-51e4a7a650cc.png">

[2019-04-10 18:42] joeytroy commented on #34
@Muffo looking at this it doesn't make sense to remove them. Yes a lot of the items can be completed under the bread crumb menu but a lot of users also like having a quick click button instead of access a menu with a click and then click again. For me I prefer it, yes Inbox didn't offer that but too me 1 click beats 2 clicks. I will let @boukestam or @russelldc weigh in.

[2019-04-10 18:43] russelldc commented on #34
@boukestam What do you think? I'm all for removing redundancy if the whole point of this extension is returning the interface to the simplicity of Inbox. This doesn't remove any functionality, it just cleans the UI.

I'm likely biased because I would almost never use **any** of those highlighted features.

[2019-04-10 18:44] joeytroy commented on #21
@russelldc I personally think keyboard shortcuts are faster than dealing with the mouse. Not sure the time to code this would be worth while.

[2019-04-10 18:46] russelldc commented on #21
@g60madman Yeah, but I know a lot of people who would prefer to never move their hand from their mouse/touchpad. I don't completely understand it, but it's a significant amount of people.

[2019-04-10 18:47] russelldc commented on #34
Also, if it's so contentious, this could be toggled in the extension's options.

[2019-04-10 18:49] joeytroy commented on #15
I would need to see a screen shot of what is going on. Based on what I am hearing is it a tab issue on top for social, promostion, ect? Or are we talking labels that have color coating? If you could publish a screen shot that would great.

[2019-04-10 18:49] russelldc commented on #33
Correct me if I'm wrong, but it seems Safari is deprecating support for Extensions.

Edit:
https://developer.apple.com/safari/extensions

Ahh, it seems like they're deprecating an older legacy form of extensions, but there's a new format. Supposedly it needs to be created/built in Xcode? 😞

[2019-04-10 18:54] joeytroy commented on #20
@russelldc I added back the text. So the problem is when you search it's adding the TD and TC tags, which is the same tags when email is empty. If you search for a two letter search like "bob barker" it adds an extra tag "eb TD" so I can hide the sun there. I guess we would need to write some java to hide it which is out side of my skill set.  Also I added back the text incase people want to see a

[2019-04-10 18:55] boukestam commented on #34
The buttons above act on the entire chain of emails. The ellipsis button acts on an individual email. So there is definitely a difference between those buttons. The question is which features get used by people and will annoy users when we remove it. If the problem is that those buttons are distracting then maybe we should change the opacity or figure out another way to fix the underlying problem

[2019-04-10 18:58] russelldc commented on #34
I don't understand this argument. The vast majority, if not all of the users of this extension are only using it because they just got kicked off Inbox. These features wouldn't be familiar to them, anyway.

Again though, if we're going to be cautious on that front, I'm not advocating for removing the features, just the redundant buttons.

[2019-04-10 19:05] russelldc commented on #20
@g60madman Ahh, got it. In that case, I'll try changing the way the sun background image is displayed/added to the empty inbox. As you could tell, I'm not a fan of the text overlaying the sun, haha.

Unimportant side note: I noticed you've mentioned Java a few times recently. In case you're not aware, JavaScript is unrelated to Java, they have just stupidly similar names.

[2019-04-10 19:06] russelldc commented on #20
@g60madman Mind if I merge latest master of this repo into the team inbox org's repo?

[2019-04-10 19:06] joeytroy commented on #34
@russelldc the bigger question is how many truly remember inbox as it was lol. I mean now that we have all been thrown back to "gmail land" there is some things I don't recall. Honestly I don't think we will ever make gmail work like inbox did but as the extension is today it feels much better than going back to gmail. Sadly I think if we started collaborating right after the news hit about the de

[2019-04-10 19:11] joeytroy commented on #20
@russelldc yeah I know its JS I just keep saying java to save on typing script I will put JS for now lol. Yeah go forth and push. Ideally I think it might be easiest to work out of one repo. I created the team so we would all have permissions. What ever is easiest for everyone is good for me.

[2019-04-10 19:12] boukestam commented on #34
I agree that we should focus on users coming from inbox. But me personally use the report spam button above the email quite often. What I'm trying to say I guess is that it's really hard to predict what other users do, even those coming from inbox, they probably have used gmail before or use one of those buttons to replace a feature of inbox (like the grouping of emails which is really hard for us

[2019-04-10 19:14] russelldc commented on #34
How about just the elements highlighted by @Muffo on the email itself?

I agree dealing with the upper toolbar is tricky because it's the same one that deals with multiple checked emails from the email list/inbox page. There wouldn't be much of a visual difference to get rid of those anyway.

[2019-04-10 19:17] joeytroy commented on #34
Which buttons are we exactly talking about?

![image](https://user-images.githubusercontent.com/1558465/55907084-042eb200-5b93-11e9-80b9-fd92553761b7.png)

[2019-04-10 19:18] russelldc commented on #34
@g60madman The ones on the email card, not in the toolbar.

[2019-04-10 19:19] joeytroy commented on #34
So are you then saying 1-6? Or just a handful of them?

![image](https://user-images.githubusercontent.com/1558465/55907186-4952e400-5b93-11e9-9bc1-5363288da4c8.png)

[2019-04-10 19:20] russelldc commented on #34
As @Muffo explained, remove the yellow highlighted elements because the green highlighted dropdowns already contain those features.

[2019-04-10 19:21] russelldc commented on #34
For example, here's how one of my recent emails would look with these changes. I also reduced the left-padding of the email subject line to better reflect Inbox's style (and because it was oddly spaced as it was).

<img width="1362" alt="Screen Shot 2019-04-10 at 8 19 25 PM" src="https://user-images.githubusercontent.com/5100126/55907262-2abe0e80-5bce-11e9-9775-149864674ac9.png">

For rough refere

[2019-04-10 19:24] joeytroy commented on #34
@russelldc I think it looks good to me. You got my vote!

[2019-04-10 19:28] joeytroy commented on #15
@SharonPerp can you post a screenshot of the before and after?

[2019-04-10 20:07] Muffo commented on #34
That would work great! 👍

[2019-04-10 20:07] boukestam commented on #24
@maoanran I have published the extension to the firefox add-on store: https://addons.mozilla.org/nl/firefox/addon/inbox-in-gmail/

Let me now if you find any unexpected bugs

[2019-04-10 20:07] #24 closed, assigned to nobody

[2019-04-10 20:10] boukestam commented on #14
Fixed! The new screenshot should be showing up in about an hour or so. Here it is already:
![inbox v0 4 4](https://user-images.githubusercontent.com/8492132/55909834-3bc24c00-5bdd-11e9-95cf-3655c67c5a7f.png)

I'm not great at marketing so if anyone has any suggestions you can add screenshots to the screenshot folder and I'll add them as well in next releases.

[2019-04-10 20:10] #14 closed, assigned to nobody

[2019-04-10 20:27] jcgoble3 opened #37 "Any chance of bundling?"
The major critical feature from Inbox that is missing in Gmail for me is bundling by label. I don't mean the default inbox categories (Social, Promotions, etc.); I mean the ability to tell it "I want all emails with this arbitrary label that are in my inbox to be collapsed into one line that I can click on to expand the list". My inbox is completely unmanageable without these bundles.

Is there an

[2019-04-10 20:34] russelldc commented on #33
It seems like the new form of Safari extensions have to be written in Swift, so it'd require a complete re-write, and parallel updates between the JS and Switch code each commit :/ I don't see this happening, @Muffo

Edit: Actually, since this extension doesn't use a background.js script, it only injects css and js, it might not be such a huge endeavor.

Thoughts, @boukestam?

[2019-04-10 20:36] maoanran commented on #24
Thank you guys! it works!

[2019-04-10 20:38] joeytroy opened #40 "New code load breaks top bar"
If you click on any of the circled area's they do not work. I am using the code from

https://github.com/inbox-in-gmail/inbox-in-gmail

![image](https://user-images.githubusercontent.com/1558465/55911604-3560af80-5b9e-11e9-8dca-6948c8ae2c37.png)

[2019-04-10 20:43] Muffo commented on #33
Yes, that's really painful! I agree it would be a maintenance nightmare unless someone comes up with a framework to _easily_ port extensions from Chrome/Firefox.

[2019-04-10 20:55] russelldc commented on #40
Oof, this is a big one. This is occurring on this main fork too, and the chrome web store version.

[2019-04-10 20:58] joeytroy commented on #40
@russelldc wonder if Google just edited some code because this was working this morning.

[2019-04-10 21:01] russelldc commented on #40
@g60madman Nah, it's working fine when I rollback to earlier commits. Trying to figure out now which commit started it.

[2019-04-10 21:08] russelldc commented on #40
@boukestam @g60madman This started happening on commit 7a8f570e9f3cc1a3020b801e86db172ae3deb863 'Firefox version'

In Firefox, there's no issue with this change, but Chrome does not appreciate it.

[2019-04-10 21:16] joeytroy commented on #40
@boukestam @russelldc, who uses Firefox anyways? lol I say tell em to use a real browser that doesn't need special css to work.

[2019-04-10 21:24] russelldc commented on #40
@boukestam I actually don't understand what that css is supposed to fix. I tried loading the latest code into Firefox, with those Firefox-related lines removed, and I'm not seeing any issues.

[2019-04-10 21:28] russelldc commented on #40
I've included removal of this css to my existing hot-fix PR #38

[2019-04-10 21:43] joeytroy opened #41 "Missing Letter Icon if email starts with a image"
Not sure this is even worth complaining about but I am just thinking maybe a user may have an issue. Because Chess.com uses a pawn image before their email it doesn't render the letter C

![image](https://user-images.githubusercontent.com/1558465/55915737-8cb74d80-5ba7-11e9-9e3e-8ffb94e7ffc5.png)

[2019-04-10 21:46] russelldc commented on #41
@g60madman Could you email that to me? I don't think forwarding would work well, maybe just copy the content of the email body.

[2019-04-10 21:48] gnowland commented on #40
The menu positioning and z-index are also broken. Submitting a PR.

![Screen Shot 2019-04-10 at 4 25 47 PM](https://user-images.githubusercontent.com/4430119/55915912-d492a080-5bb8-11e9-9d49-95a611782b34.png)

[2019-04-10 21:50] russelldc commented on #40
If this 'Firefox version' CSS for some reason necessary (didn't seem like it in my testing)... it could be set to activate on Firefox only. This seems to work:

[code]

[2019-04-10 22:00] joeytroy commented on #41
@russelldc sent.

[2019-04-10 22:08] russelldc commented on #41
@g60madman Unfortunately the .eml file isn't much help. I guess I could try getting an email from them myself? Is that the only email you have that's doing that? Are you sure it's because the email "starts with an image". Also, are you calling that chess unicode character (♟) an image, or do you mean the image in the email body?

[2019-04-10 22:12] russelldc commented on #41
@g60madman Could you copy and paste the HTML element of that email in the inbox list?

[2019-04-10 22:21] russelldc commented on #41
OH. Sorry, I understand now. I forgot how that avatar code worked, grabbing the first letter of the user's name.

[2019-04-10 23:11] russelldc commented on #41
I've got a fix. This problem was also affecting any contact who's name does not start with A-Z, including, for example: '23AndMe'.

I've pushed it to the inbox-in-gmail/inbox-in-gmail fork.

<img width="175" alt="Screen Shot 2019-04-11 at 12 09 00 AM" src="https://user-images.githubusercontent.com/5100126/55919515-2d306080-5bee-11e9-89bd-76c2bdeb9569.png">

Forced the ♟ character:

<img width="321

[2019-04-10 23:29] russelldc commented on #20
@g60madman I pushed a fix to the inbox-in-gmail/inbox-in-gmail repo, let me know if it works for you.

[2019-04-11 00:05] joeytroy commented on #41
@russelldc Looks great!

![image](https://user-images.githubusercontent.com/1558465/55921715-348a4680-5bbb-11e9-9d2f-641135e7018f.png)

[2019-04-11 00:05] #41 closed, assigned to nobody

[2019-04-11 00:06] joeytroy commented on #20
@russelldc perfect!

[2019-04-11 00:41] #30 closed, assigned to nobody

[2019-04-11 00:42] #40 closed, assigned to nobody

[2019-04-11 01:02] abasiri commented on #37
I'm playing around with a way to do bundling that would only affect the emails on the current page. It's very complicated and you'd have to keep in mind that it would only affect the currently visible 50 emails on the page. If there are other pages, then they are not going to be bundled correctly into the current page.

The other issue is that the page would every once in a while "flash". That is

[2019-04-11 01:54] benhylak opened #44 "sweeping"
Any plans of supporting sweeping functionality?

[2019-04-11 02:11] jcgoble3 commented on #37
That would be fine with me. I don't keep 50 emails in my inbox, just what I need to follow up on and refer to (mostly stuff about multiple school events and ceremonies at the moment because I'm approaching graduation with honors next month).

The flash is something I would gladly put up with to get my bundling back, but I wonder if it's possible to monkeypatch Google's own redraw code to avoid it.

[2019-04-11 05:27] abasiri commented on #37
That would probably require more time and knowledge than what I have :) But yes, the bundling was the most important feature for me also.

[2019-04-11 05:33] SharonPerp commented on #15
Sorry, I've been really busy. I'll try to clear some of this up.

Here are the colored labels (the four at the bottom). They're on the
sidebar, I don't use the tabs:

[image: image.png]

Here is what your extension icon looks like on the Chrome bar the first
time I open Gmail. Notice it has a circle around it?

[image: image.png]

When I click on it the first time after opening Gmail, I get this:

[2019-04-11 05:43] SharonPerp commented on #15
One last thing. I was busy and stressed today and just realized I've been
inadvertently and inappropriately using classic gmail this whole day.

So, omg, just went back to Inbox in Gmail and it's freaking AMAZING! I just
can not believe how relaxing it is. Great great great job! <3 <3 <3

On Wed, Apr 10, 2019 at 10:33 PM Sharon P <SharoneyP@gmail.com> wrote:

[2019-04-11 07:01] dandeliondandy opened #45 "Search bar"
Search bar results not brought to front, not visible

![image](https://user-images.githubusercontent.com/28229299/55937053-4c53e000-5c38-11e9-970a-29ec94bc44f7.png)

[2019-04-11 13:05] boukestam commented on #45
Thanks for notifying us. This issue should be fixed now. The new version is already live and also merged in the master branch. If there are any more issues please let us know.

[2019-04-11 13:05] #45 closed, assigned to nobody

[2019-04-11 13:08] boukestam commented on #44
Can you explain this in a bit more detail? What do you mean by sweeping? And in which situations would you like to do this and how?

[2019-04-11 13:13] joeytroy commented on #15
@SharonPerp the images are not coming through at all? All you need to do is copy and paste in the window and they will show up correctly. Right now I am just seeing [image: image.png]. Also glad you are enjoying Inbox in Gmail it's really coming together thanks to so many developers all working together!

[2019-04-11 13:16] boukestam commented on #31
Good idea, I'll add that to the description. Except for importance markers since that should be fixed now.

[2019-04-11 13:16] #31 closed, assigned to nobody

[2019-04-11 13:19] boukestam commented on #29
We could redo the compose button like how the reminder button works. Just hide the original and add a new element which triggers the original compose button when pressed.

[2019-04-11 13:22] boukestam commented on #28
The hangouts block can already be removed by going to Settings -> Chat -> Chat off. The right side menu can also be toggled at the bottom

[2019-04-11 13:25] boukestam commented on #25
Fixed in https://github.com/boukestam/inbox-in-gmail/pull/36

[2019-04-11 13:25] #25 closed, assigned to nobody

[2019-04-11 13:30] benhylak commented on #44
sure. right now, your extension "bundles" by time period -- day or month.

A sweep button under each "bundle" would archive any emails that are not starred.

![Hitting-Inbox-Zero-31](https://user-images.githubusercontent.com/19956321/55961259-71e2e880-5c3c-11e9-9477-644f4007fd89.gif)

[2019-04-11 13:44] russelldc commented on #28
Ah I wasn't aware you could turn off Hangouts completely, I thought you could only log out.

[2019-04-11 13:44] #28 closed, assigned to nobody

[2019-04-11 14:46] russelldc opened #47 "Compose/Reminder buttons should move to the left when Task sidebar is open"
The incoming PR #46 will fix the z-index, but those buttons should move over to the left appropriately.

[2019-04-11 14:47] russelldc commented on #29
Yep, that might somehow make it easier to control its position when the task sidebar is open, as well.

[2019-04-11 15:59] byronigoe opened #48 "Date bundling snoozed emails"
When snoozed emails come back to the inbox, the date bundling operates on the original date of the thread. See the attached screenshot which shows Today, This month, Yesterday, Today, Yesterday, This month.

![image](https://user-images.githubusercontent.com/10134042/55972174-4235df80-5c40-11e9-86ea-5af9322a0e73.png)

[2019-04-11 16:13] SharonPerp commented on #15
Yeah, copy/paste is exactly what I did. So, here it all is in an attached
pdf.

And, after my realization of how HORRIBLE gmail classic is compared to your
app, I'm probably not even going to bother with those colored labels
anymore. Love your interface too darn much!

:-)

On Thu, Apr 11, 2019 at 6:14 AM Joey Troy <notifications@github.com> wrote:

[2019-04-11 16:14] russelldc commented on #15
@SharonPerp I think you're trying to add attachments to an email, which isn't going to show on GitHub. You'll need to visit this page directly to do so.

[2019-04-11 16:16] SharonPerp commented on #15
Yikes, had no idea this was all public. Hope I didn't say anything untoward. And, hope this works this time...

[Inbox in Gmail.pdf](https://github.com/boukestam/inbox-in-gmail/files/3069606/Inbox.in.Gmail.pdf)

[2019-04-11 16:23] joeytroy commented on #15
@SharonPerp it make sense about the color labels. I am sure we can do something as I have the same issue

Gmail
![image](https://user-images.githubusercontent.com/1558465/55973745-6e069480-5c43-11e9-97ad-401d4eb90d5e.png)

Inbox in Gmail Extension Enabled
![image](https://user-images.githubusercontent.com/1558465/55973825-8d9dbd00-5c43-11e9-9472-b73fe253870d.png)

It maybe possible to add this fea

[2019-04-11 16:25] SharonPerp commented on #15
That would be great. Then no reason at all to go to classic, ugh, it's such
a disaster.

Thanks!

On Thu, Apr 11, 2019 at 9:23 AM Joey Troy <notifications@github.com> wrote:

[2019-04-11 17:03] joeytroy commented on #15
@SharonPerp I did a small hack and basically threw a border around the boxes so they show up with the proper color people have on Gmail. If you think this looks good and @russelldc think it looks alright I can merge it into the code.

![image](https://user-images.githubusercontent.com/1558465/55976390-4b777a00-5c49-11e9-9123-70e5bf325dca.png)

`/* Category */
.aHS-bnr .qj {
	background-image: url(

[2019-04-11 17:14] russelldc commented on #15
Well I guess a question for @SharonPerp is:

I don't use labels, so I just want to make sure... are you just concerned with the label colors on the left menu, or are there also colored labels on the emails themself?

[2019-04-11 17:17] joeytroy commented on #15
@russelldc

Here is some screens from gmail
![image](https://user-images.githubusercontent.com/1558465/55977147-4a474c80-5c4b-11e9-9de4-ccb8dfbd9fc3.png)

![image](https://user-images.githubusercontent.com/1558465/55977116-356ab900-5c4b-11e9-9c67-38ed7f9c3b9a.png)

And with the extension on and my mod
![image](https://user-images.githubusercontent.com/1558465/55977179-63e89400-5c4b-11e9-9f23-231f1

[2019-04-11 17:18] russelldc commented on #15
@SharonPerp @g60madman Never mind, I answered my own question. The colored labels in the email list are working fine already.

[2019-04-11 17:21] russelldc commented on #15
@g60madman I see now, after adding my own labels.

I'd recommend adding a border-radius: 30% as well. It looks like this, a little less abrasive:

<img width="247" alt="Screen Shot 2019-04-11 at 6 21 38 PM" src="https://user-images.githubusercontent.com/5100126/55977432-af6c6380-5c86-11e9-9422-a58f4d8eafd4.png">

[2019-04-11 17:26] joeytroy commented on #15
@russelldc  Good call!
![image](https://user-images.githubusercontent.com/1558465/55977661-98108480-5c4c-11e9-8636-7a42ba70b834.png)

`/* Category */
.aHS-bnr .qj {
	background-image: url("https://i.ibb.co/wCh8tQ9/ic-custom-cluster-24px-g60-r3-2x.png") !important;
	background-repeat: repeat-x;
	padding: 12px;
	width: 48px;
	length: 48px;
	border: 3px solid #F2F2F2;
  box-sizing: border-box;
	borde

[2019-04-11 17:29] Muffo opened #49 "Message list and view have different widths"
From the message list (i.e. the main view) when you open message the width of the white box with the content will considerably increase, assuming that your monitor is wide enough.

Like the original Inbox, it would be nice to preserve the width of the list view also for the messages.

[2019-04-11 17:30] russelldc commented on #15
I'm fine with pushing now

[2019-04-11 17:35] joeytroy commented on #15
Done https://github.com/inbox-in-gmail/inbox-in-gmail/commit/83348af3d803125c4a3fc287910be2542561c8b6

[2019-04-11 17:51] SharonPerp commented on #15
Sorry, busy day, I concur that the radius makes it work just right. Thanks!

[2019-04-11 17:52] joeytroy commented on #15
@SharonPerp sounds good, If you want to close this out since I don't have permission.

[2019-04-11 17:53] joeytroy commented on #49
@Muffo do you have a screen shot? I think this may have already been fixed.

[2019-04-11 17:59] Verniax opened #50 "Small rectangular grey area covering parts of the side bar title"
![inbox1](https://user-images.githubusercontent.com/49449648/55980191-3a078f80-5c94-11e9-9ae2-bc6a11ceeceb.JPG)

[2019-04-11 18:03] Verniax commented on #47
Sorry, I didn't open your message so I posted a separate issue about the gray area. With a screenshot though :)

[2019-04-11 18:05] russelldc commented on #47
@Verniax No problem, I edited it out of this issue description

[2019-04-11 18:08] russelldc commented on #49
@g60madman [![Image from Gyazo](https://i.gyazo.com/97e3a3a0e99779d925602156b84cbf55.gif)](https://gyazo.com/97e3a3a0e99779d925602156b84cbf55)

[2019-04-11 18:33] #15 closed, assigned to nobody

[2019-04-11 18:34] joeytroy commented on #49
Done I believe if  @Muffo and  @russelldc could verify

https://github.com/inbox-in-gmail/inbox-in-gmail/commit/ef4c3a50a586ab0209545b9093c8329601ebc3c0

[2019-04-11 18:45] joeytroy commented on #49
Added another commit to add some clean margins.

https://github.com/inbox-in-gmail/inbox-in-gmail/commit/0fa6d64e294b34dd4fe4274ee70ff862401ee46d

[2019-04-11 18:54] russelldc commented on #49
@g60madman Seems to be performing mostly as expected now, except the opened email is just ever so slightly wider compared to the list

[2019-04-11 18:55] joeytroy commented on #49
@russelldc noticed that just now. I will bring it down.

[2019-04-11 18:57] joeytroy commented on #49
@russelldc alright think I got it
https://github.com/inbox-in-gmail/inbox-in-gmail/commit/608c60706699e76d08ec2e62dd9edf22b66fcbd8

[2019-04-11 19:02] russelldc commented on #49
@g60madman I noticed the toolbar up above the email looks a little odd being no longer aligned to the width of the email below it. It's a little trickier to fix, moving the tools on the left side of it to line up with the email, while keeping the tools on the right side (like the settings cog) aligned to the right of the screen.

[2019-04-11 19:08] Verniax commented on #49
I agree with @russelldc. The toolbar with the square should ideally be vertically aligned with the square in the email below. They sort of belong together.

[2019-04-11 19:54] joeytroy commented on #49
@Verniax @russelldc little hack but it slaps the tool bar in the center. I tried to add some padding but it caused more issues if the resolution is low.

![image](https://user-images.githubusercontent.com/1558465/55988516-4d4d3780-5c61-11e9-8c67-868d30b1b60e.png)

`/* email tool bar */
.iH.bzn{
	margin-left:auto !important;
	margin-right:auto !important;
}`

[2019-04-11 19:57] russelldc commented on #49
In my opinion, that looks a lot worse than just leaving it 😃

I think I might have a solution.

[2019-04-11 20:03] joeytroy commented on #49
This is a little closer

`/* email tool bar */
.iH.bzn{
	margin-left:auto !important;
	margin-right:auto !important;
	width: 1px;
}`
Plugin
![image](https://user-images.githubusercontent.com/1558465/55988997-7fab6480-5c62-11e9-8f73-d8fb8c554fdb.png)

Old inbox
![image](https://user-images.githubusercontent.com/1558465/55989026-9356cb00-5c62-11e9-9bd6-d3f601189ada.png)

[2019-04-11 20:07] russelldc commented on #49
I pushed up my solution, it aligns the entire toolbar with the email. I tested at many different screen widths, seems to work out well.

https://github.com/inbox-in-gmail/inbox-in-gmail/commit/4c3e95fba50b644cea25b610188933ee3b25e5fe

<img width="708" alt="Screen Shot 2019-04-11 at 9 07 29 PM" src="https://user-images.githubusercontent.com/5100126/55989718-de420400-5c9d-11e9-806d-0b5ebe6d2bf9.png"

[2019-04-11 20:34] joeytroy commented on #50
@Verniax fixed

[2019-04-11 20:40] russelldc commented on #50
@g60madman Yeah, that's the same fix I did locally last time I noticed this problem. I'm not sure what that line of css was meant to fix, I don't see an issue with the compose box after removing it.

[2019-04-11 20:41] joeytroy commented on #50
@russelldc got it fixed.

[2019-04-11 20:42] russelldc commented on #50
@g60madman I know :P I was referring to the changes you made. I don't know if there's any negative side effects from commenting out that css.

[2019-04-11 20:45] russelldc commented on #50
@g60madman Here's what the css you commented out affects:

[![Image from Gyazo](https://i.gyazo.com/5a2b0cf0686e20bef4c32e8f8aaa7693.gif)](https://gyazo.com/5a2b0cf0686e20bef4c32e8f8aaa7693)

Without that css, the compose box (when minimized or not) will be slightly behind the compose/reminder buttons, except when a task bar item like Google Keep is open.

[2019-04-11 20:48] joeytroy commented on #50
@russelldc yeah, I am sure there is a better fix then messing with the .no id. I added that fix way back when.

[2019-04-11 20:50] russelldc commented on #50
Yeah, the .no class is used often throughout Gmail

[2019-04-11 20:56] joeytroy commented on #50
@russelldc got it

https://github.com/inbox-in-gmail/inbox-in-gmail/commit/392949fa98a8ec83d8db21a5b19bfa6ddcaa85e9

[2019-04-11 20:58] russelldc commented on #50
Perfect, I don't see anything else with that combination of classes on the page

[2019-04-11 20:59] joeytroy commented on #50
Nor I.

@Verniax you can close this one up.

[2019-04-11 21:04] joeytroy commented on #49
@Muffo you can close this one up.

[2019-04-11 21:05] russelldc commented on #20
Closing, since it'll be fixed when @boukestam merges the PR

[2019-04-11 21:05] #20 closed, assigned to nobody

[2019-04-11 21:22] Muffo commented on #49
Thanks for the quick fix!! Looking forward to the new release

[2019-04-11 21:22] #49 closed, assigned to nobody

[2019-04-11 21:23] russelldc commented on #34
@Muffo Please close this one as well, when you get a chance. It's up for PR (#43) at the moment.

[2019-04-11 21:35] #34 closed, assigned to nobody

[2019-04-11 22:58] Verniax commented on #50
Awesome! Thanks.

[2019-04-11 22:58] #50 closed, assigned to nobody

[2019-04-12 08:17] boukestam commented on #44
Thanks for the explanation. This is possible to do I think. It becomes even more usefull when we have implemented some form of bundling beyond just dates. We'll keep it on the backlog and see if anyone can pick this up

[2019-04-15 21:49] russelldc opened #51 "When sender is a Gmail/G Suite address, replace Letter icon with their profile picture"
We'll need to figure out how Google makes the request for their profile picture.
If one exists (and it isn't the default avatar mask), then it should replace the colored first letter icon on the email list.

[2019-04-15 21:54] russelldc commented on #51
@boukestam and @g60madman and I had previously discussed incorporating Google's favicon fetching api, but as far as I can tell from old screenshots, Inbox never used something like that.

It only fetched the profile pictures from Gmail and G Suite accounts. Sometimes it just seemed like it may have fetched a favicon, because it was actually a G Suite account, like Medium.com for example:

<img wid

[2019-04-16 16:48] ryanmclaughlin commented on #51
Apparently this is not possible anymore since the Google+ API is deprecated. Hopefully there's another way. There are services that will fetch favicon's and web app icons from the head of a domain, but many sites do not have this.

[2019-04-16 16:58] joeytroy commented on #51
@ryanmclaughlin With Google Currents I would thing this maybe a possibility https://gsuite.google.com/products/currents/ I don't see anything about API posted on the site yet.

[2019-04-16 17:00] ryanmclaughlin commented on #51
Ah neat. *fingers crossed*

[2019-04-16 17:00] joeytroy commented on #51
Yeah since it's been replaced by Google+ https://www.insidehook.com/article/apps/google-is-back-from-the-dead-now-called-google-currents

[2019-04-16 17:16] russelldc commented on #51
I was aware that the official Google+ api is gone, as well as the Picasa one that some people used for this.

My intention wasn't to use something official, but to reverse engineer the request that Gmail is using right now to pull those profile pictures.

[2019-04-16 17:17] russelldc commented on #51
@g60madman @ryanmclaughlin I was aware that the official Google+ api is now gone, as well as the Picasa one that some people used for this.

My intention wasn't to use something official, but to reverse engineer the request that Gmail is using right now to pull those profile pictures.

[2019-04-16 17:21] ryanmclaughlin commented on #51
@russelldc Gotcha. I did something similar with Inbox's old placeholder images, but obviously a better options is to render these with css rather than make many requests.

`const avatarUrl = "https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/avatars/avatar_tile_" + firstLetter + "_28.png"`
[](https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/avatars/avatar_tile_m_28.png)

[2019-04-16 19:51] Muffo commented on #35
Has this already been released? I am on 0.4.6 and I still see the number.

[2019-04-16 23:52] jcgoble3 commented on #37
Any progress on this? My computer is getting increasingly slow and unstable after over a month without a reboot, and I fear it may crash soon. If you have a working prototype of this, feel free to point me to it, as I would be happy to test it and offer feedback. I use Firefox and would just need the packaged extension file to sideload (doesn't need to be on the add-on store).

[2019-04-17 20:51] digitalneoplasm opened #54 "Order of mouseover options doesn't match Inbox."
The order of the hover-over links which appear over messages does not match what is expected in Inbox. I still have an Inbox tab open (who knows for how much longer), so I can show the comparison:

Inbox:
![image](https://user-images.githubusercontent.com/1452510/56319903-db796000-6130-11e9-9467-dad4f07e2aea.png)

Inbox-in-Gmail:
![image](https://user-images.githubusercontent.com/1452510/56319917-

[2019-04-17 22:06] ryanmclaughlin opened #55 "Performance impact on continuous setTimeout?"
I'm curious what the impact is of constantly running `updateReminders` 600 times a minute versus observing changes in the DOM? Any thoughts?

[2019-04-18 09:15] russelldc commented on #54
That's a good point. Muscle memory is very powerful!

[2019-04-22 14:15] theRealPadster commented on #16
Do you have the dark theme selected in Gmail? I had that problem and had to change it back to default.

[2019-04-22 14:17] theRealPadster opened #57 "Set Google reminders instead of send emails to self?"
Is it possible to somehow hook into Google Reminders and set native reminders instead of emails to yourself? I don't want to clutter up my inbox with self-emails, but I always loved using Inbox as an easy way to manage my reminders.

[2019-04-22 16:14] joeytroy commented on #16
@theRealPadster another user posted this on the support forum so I added it to the github board. It's listed as a bug right now and needs to be looked at. I haven't had time to look at issues for a while been busy with other projects.

[2019-04-23 00:45] Perifractic opened #58 "Please add colour themes"
Inbox is great, but the interface was starting to look old. If you could add some colour theming options in time, it'd make this _better_ than Inbox! Thanks for the great work.

[2019-04-23 03:48] djcurfew opened #59 "Date grouping not working correctly"
The date grouping has never worked for me. I have the correct recommended settings:
1. "default" set for the inbox
2. no grouping enabled
3. no other extensions

I am willing to pay to get this fixed, if you'd like to do a Google Hangout to inspect the issues I would be happy to compensate for time. As I would love to get this working!

Thank you!

Examples:
![image](https://user-images.githubuser

[2019-04-23 05:49] russelldc commented on #59
This is because the snoozed emails are messing with the ordering. This is a duplicate of:
Issue #48 - Date bundling snoozed emails

[2019-04-23 05:49] russelldc commented on #59
@djcurfew This is because the snoozed emails are messing with the ordering. This is a duplicate of:
Issue #48 - Date bundling snoozed emails

[2019-04-23 05:52] russelldc commented on #58
Somewhat related:
if I remember right, @RedcoatAsher was planning on adding some form of Dark Mode theme.

[2019-04-23 05:59] russelldc commented on #6
This also makes the 'Sent' folder look weird. When I open that folder, about a third or more of the emails look like reminders, even when they weren't sent to me from myself. And if I open any of those emails, then click the inline Back button, they become Reminders (labeled with the Reminder icon).

[2019-04-23 06:05] Perifractic commented on #58
That would be a great start!

On Mon, Apr 22, 2019, 22:52 Daniel Russell <notifications@github.com> wrote:

[2019-04-23 18:24] abasiri commented on #6
I also find this annoying. Since there are varying opinions on this, one option would be to have an extension preferences tab and have this as a toggle option.

[2019-04-24 01:45] Perifractic opened #60 "Change Favicon"
Small thing but it would be nice if you could change the Favicon too 👍

[2019-04-24 07:14] abasiri commented on #6
I decided to take a crack at it in #61

[2019-04-24 13:02] russelldc commented on #60
@Cjsnet Certainly very doable! This line can be run from the `script.js` on initialization:

`document.querySelector('link[rel*="shortcut icon"]').href = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAA8FBMVEVHcExGbcdPds/h4eJCas01r/BVe9KCz/R/m9PY2+E/acxGbs9af9Ta290wS4x/zPXt7e9HabqYor1dt+wvU6zp6ehEar40WK1Gabfv7u3R1d1Oaaexv95iw/E6su6Bz/SBzfOE1fsxufY0uvY7ZMs4Yco1X8k9btjl5eTj4+N

[2019-04-24 15:18] djcurfew commented on #59
Ah got it. Any chance this would be fixed soon? I will send $250 for a bounty for this if you can fix this week :)

[2019-04-24 15:22] russelldc commented on #59
That sure is motivating! I'll let you know later tonight if I'll take up that offer.

[2019-04-24 18:00] abasiri commented on #59
@djcurfew I've tried fixing that issue in the past, unfortunately the DOM itself doesn't have any information about when the snoozed email came back into the inbox, it only has information about when the email was originally received which is what breaks the date titles.

Two potential solutions I've messed with are:
1) Trying to artificially group with with another date title, the problem with th

[2019-04-24 18:16] russelldc commented on #59
I guess the question is, what would you want to see/what did Inbox do in this situation @djcurfew ?

If a snoozed email from February returned today, should it be grouped under Today, or under February?

[2019-04-24 18:52] russelldc commented on #16
@g60madman @theRealPadster Yeah, I just tried out Dark Mode on MacOS / Chrome, and it doesn't affect the page at all. That user must have just had Gmail's dark theme enabled.

[2019-04-24 19:05] russelldc commented on #6
Solved by @abasiri 's PR #61 awaiting approval by @boukestam

[2019-04-24 19:05] #6 closed, assigned to nobody

[2019-04-24 19:22] russelldc commented on #57
@theRealPadster If you're talking about the native reminders in Google Calendar (one of the three options when creating an event: Event, Reminder, Task)... this is unlikely, and probably prohibitively difficult.

I just tried creating one of those reminders from the Calendar app, and they just don't show up in Gmail like they did in Inbox 😢 That means someone would need to implement both creating

[2019-04-24 20:02] abasiri commented on #59
It should be grouped under Today. That's the hard part.

Since this only happens to snoozed emails at the boundary of date groups, one thing I do is either resnooze those if I still need them, or dismiss them if i'm done with them.

I'll keep searching for a solution, but nothing yet has come up.

[2019-04-24 21:06] theRealPadster commented on #57
I mean the Google Assistant ones, but they're probably the same? And yeah, that's a good point, you would have to rewrite the entire reminder functionality, retrieving on time, and writing, since it's not in Gmail to begin with :/

[2019-04-24 21:09] joeytroy commented on #16
I'll close it out.

[2019-04-24 21:09] #16 closed, assigned to nobody

[2019-04-25 04:33] abasiri commented on #59
Avatar uppercase should also be fixed now.

[2019-04-25 05:12] abasiri commented on #59
@djcurfew I came up with a hack that I think you will like:

If the snoozed email is the first email, i just label it as if it arrived today. All other snoozed emails join the most recent sibling. This way it's less likely to miss a snoozed email, with a small annoyance that if a snoozed email was the last email that arrived on a day, say 'Yesterday', it will look like it's the first email that ar

[2019-04-26 08:59] russelldc commented on #48
Hey @byronigoe :

In case you missed it, @abasiri has a potential solution for this problem waiting in a PR.

[2019-04-26 15:48] djcurfew commented on #59
@abasiri Awesome! Could you send me the zip so I can test it out?

[2019-04-26 15:49] djcurfew commented on #59
Also, I'm assuming you guys are aware of this library? https://www.inboxsdk.com/ Helps a lot with getting that kind of data

[2019-04-26 20:23] russelldc commented on #59
@djcurfew I definitely was not aware of that library! That seems like it could be very useful for this whole project. I wonder if some refactoring of the entire extension is in our future...

Although... it's not so much just a library, as it is a service. I'm not so sure I like that.

https://www.inboxsdk.com/register

[2019-04-26 20:27] russelldc commented on #59
@djcurfew If you still need that zip, just go to @abasiri 's branch from the PR, and click download as zip.
Or I'll just save you time: https://github.com/abasiri/inbox-in-gmail/archive/ali/hack-for-snoozed-email-issue.zip

[2019-04-26 20:53] russelldc commented on #59
Rather than InboxSDK, something more like this could be useful:

https://github.com/KartikTalwar/gmail.js

This one's actually just a local library, and it is updated frequently (last commit in master was yesterday).

It has some of the same useful features, like creating an observer for certain events.

[2019-04-26 21:20] abasiri commented on #59
These libraries look interesting. I'll keep them in mind next time I'm in code.

[2019-04-27 05:02] abasiri commented on #54
What are your thoughts on this. I found that I was primarily messing up when I wanted to click the Done button, this change should address that. i can't change the pin location though, since it's where the yellow pin icon appears, when an email is pinned.

![image](https://user-images.githubusercontent.com/708414/56844990-c4441c00-686e-11e9-8476-544d89b0e9c8.png)

[2019-04-27 05:34] abasiri opened #64 "Checkbox is not centered with avatar."
Since the checkbox for an email is not centered with an avatar, when mousing over, it doesn't feel polished..

![image](https://user-images.githubusercontent.com/708414/56845253-50584280-6873-11e9-92f2-faf6946504e7.png)

[2019-04-27 06:52] abasiri commented on #37
So far all attempts at this have been total disasters :) I'll keep trying.

[2019-04-27 13:35] russelldc commented on #54
@abasiri Makes sense to me. I think leaving the pin where it is is fine.
Unless you've already fixed this since your screenshot, it looks like there should be more spacing between the Done icon and the Pin.

What do you think, @digitalneoplasm ?

[2019-04-27 14:33] russelldc opened #66 "Colored Letter Avatar should display inside email if contact has no avatar"
When I was searching for more reference images of Inbox from before it shut down, I found this gif made in March 2019:

![inbox_anim](https://user-images.githubusercontent.com/5100126/56850982-98be4180-6901-11e9-94f2-f445d3abfd27.gif)

When the user clicked on an email, you can see one of the participants in the email thread has a pink 'B' avatar.

Right now, this extension only applies these avat

[2019-04-27 14:39] russelldc commented on #19
Found a reference gif of Inbox from earlier this year, showing the Done folder. The Done tick should turn to Green when in the Archived/Done folder. Right now it's disabled gray. If not too difficult, along with the change in functionality, the tooltip should also switch to Move to Inbox. I'm confused why the Gmail devs haven't already done this work... Why have a disabled Archive button when you'

[2019-04-27 18:44] russelldc commented on #37
@abasiri  @jcgoble3

Michael Leggett, the co-creator/designer of Inbox, seems to think it's possible. Here's what he mentioned in an issue on his recently released Gmail simplifying extension:
https://github.com/leggett/simplify/issues/56

After finding [that gmail.js library](https://github.com/KartikTalwar/gmail.js/) we talked about in one of the other issues, I think it is, too.

[2019-04-27 19:46] abasiri commented on #37
I have a prototype that pulls the emails with same labels and groups them
together in the right place. The problem is that I can't figure out a way
to manage the eventlisteners. The listeners are set using closures and
without managing some of them correctly, things behave really badly. I'll
keep trying, we'll see. If also need help with css polish if I make more
progress

[2019-04-27 20:15] Muffo commented on #37
Out of curiosity, what are the listeners used for? What events are they responding to?

[2019-04-27 20:16] russelldc commented on #37
@abasiri I wonder if it's possible to not just do this based on labels, but instead the category Gmail would have put it in (Primary, Social, Promotions, Updates, Forum)

Gmail.js seems to have a lot of helpers for event listeners

[2019-04-27 20:28] abasiri commented on #37
My personal interest is in getting the labels working as I have my own
labels. The categories don't really solve a problem for me, so I'm biased.

[2019-04-27 20:31] russelldc commented on #37
@abasiri Yup, not a problem, it was what @jcgoble3 was asking for when he created this issue, after all.

I just think at least at some point in the future, the extension should be able to handle those default categories as well, for the majority of people who don't use manual labelling.

[2019-04-27 20:35] jcgoble3 commented on #37
I don't disagree that bundling by the default categories would be useful for many people, and indeed it should be worked on, but as implied by my initial post here, I don't use them at all and instead rely on a crap ton of custom filters that produce automatic labels, some of which I want to see in bundles.

I also don't care about how it looks, as long as it works. I'll take something that does e

[2019-04-27 20:40] russelldc commented on #37
So that those two workflows wouldn't conflict, it seems like a feature that would end up as an extension option, using the option menu started by abasiri in PR #61 for changing how reminders are handled.

[2019-04-27 21:43] russelldc commented on #66
While I haven't yet figured out how to grab profile photos to use as an avatar for the email list, I do know how to check if the currently open email does not have one:

[code]

This needs to be hooked onto an observer (maybe with the Gmail.js lib), because when the email first loads, this default img is always loaded in first.

[2019-04-27 22:46] abasiri commented on #37
There is an option in Gmail to have the categories show up as labels. That
should resolve both use cases.

[2019-04-28 17:10] digitalneoplasm commented on #54
I agree, I think this is great! The Done button was also my primary concern! Thanks!

[2019-04-28 18:03] russelldc commented on #66
I just noticed the Gmail app on Android does this already, I wonder why they didn't do the same for the web version.

Weirdly enough, the Gmail app on Android never shows profile photos at all, both on the email list or an opened email. You can only see it when you click on the contact.

[2019-04-29 15:37] djcurfew commented on #59
Woohoo! this works great! @abasiri I assume the bounty goes to you? Let me know your paypal please! Thanks sooooo much!

[2019-04-29 16:13] abasiri commented on #59
@djcurfew I'm glad to hear it's working out for you. Also thanks so much for the bounty, I'd like to split it with @russelldc. His help has been crucial for me. Email is: abassiri at gmail

[2019-04-29 16:15] djcurfew commented on #59
Oh no, it seems to break again after using it, any idea what's going on here?
![image](https://user-images.githubusercontent.com/15223518/56910400-5743a880-6a5f-11e9-8bd2-35cb8e25ddf3.png)

When I refresh, same problem.

[2019-04-29 16:30] abasiri commented on #59
Can you share the full image with time stamps?

[2019-04-29 16:31] russelldc commented on #59
@abasiri Wasn't my "help" after you'd already done the work and made the PR? :P

@djcurfew Oh no, could you post a screenshot showing the full width, so we can see which ones are snoozed for easier diagnostics? Blur out the email content if that's why you'd snipped it short.

[2019-04-29 21:16] #48 closed, assigned to nobody

[2019-04-29 21:46] #60 closed, assigned to nobody

[2019-04-29 21:46] #64 closed, assigned to nobody

[2019-04-29 22:25] #54 closed, assigned to nobody

[2019-04-29 22:27] russelldc opened #67 "Pin button visual issues"
- Unlike the other action icons, you need to hover precisely over the icon itself for the hover event to occur. This actually isn't just a visual problem; if you try to click the general area, you'll end up opening the email instead.
- The pin is the only one of the action buttons that doesn't have a tooltip. (Though this seems like something the Gmail team should fix)

[2019-04-29 23:38] leggett commented on #37
Hey gang... the way I was thinking of it was to insert my own row for a bundle and link that to the search for that label (update the url hashtag). Expanding it inline is likely not going to work and this way you get all the emails for the label, not just the ones in the inbox (though you could link to "label:x in:inbox") if you wanted to only show the ones in the inbox.

You can do the same for t

[2019-04-30 00:30] jcgoble3 commented on #37
This would be mandatory for my workflow. Currently in my still-open Inbox tab, I have, among others, a bundle for the "college stuff" label containing a few emails, some dating back to the beginning of spring semester, that I keep in the inbox because I need to refer to them. However, everything sent to either of my school emails (I have two because I'm getting ready to transfer) is auto-forwarded

[2019-04-30 00:53] abasiri commented on #37
I really like this idea and I should be able to prototype it quickly, if it's trivial to trigger the search.

It might be a couple of days before I get a chance to do this though, really busy week ahead of me

[2019-04-30 04:33] abasiri commented on #37
I decided to procrastinate on other work and ended up working on this a bit. Can a few folks try the version in the PR and let me know what issues you find.

Work that still needs to be done:
* Ability to turn on and off using extension options
* Highlighting as read/unread depending on emails being bundled.
* Will entry correctly disappear if underlying emails are archived

![image](https://user-

[2019-04-30 04:37] jcgoble3 commented on #37
Nice! I've shut down my computers for the night but will experiment with it tomorrow after classes.

[2019-04-30 08:37] russelldc commented on #58
We should also allow backgrounds, like Gmail. Those are selectable in the same section as color themes, in the settings gear icon at the top right -> Themes.

If you have a background image set now, it applies almost the same changes that break Gmail's built-in Dark theme. While the text of the email content doesn't turn white like Dark mode, some of the UI, like the left menu items get an ugly te

[2019-04-30 09:14] russelldc commented on #58
I've got a branch going here, very WIP:
https://github.com/boukestam/inbox-in-gmail/tree/themes

A few problems to resolve:
1. Gmail's default theme is white background, but I assume we'd want to default to Inbox-like gray
2. Enforce black/dark text color on email list items (Icons, Subject, Author, Excerpt)
3. Stop enforcing gray text on left menu, so Gmail can set that text to white when appropr

[2019-04-30 13:31] russelldc commented on #37
@jcgoble3 It's quite glitchy right now, I certainly wouldn't recommend losing your Inbox tab for it yet!

[2019-04-30 13:32] jcgoble3 commented on #37
@russelldc I just saw your comments on the PR, so I'll wait a bit.

[2019-04-30 17:57] abasiri commented on #59
@djcurfew I have a repro, and it seems it's a gmail issue, the emails are out of order even without the extension. Looking at this screenshot, you'll notice one email from yesterday appear in between two emails from today. Not sure if this is a feature we'll need to turn off in gmail, @russelldc any ideas?

![image](https://user-images.githubusercontent.com/708414/56982670-b32d3080-6b36-11e9-9a93-

[2019-04-30 17:59] russelldc commented on #59
@abasiri Interesting... so that April 29th email in the middle was snoozed before, or no?

[2019-04-30 18:00] abasiri commented on #59
No, it wasn't snoozed.

[2019-04-30 18:01] russelldc commented on #59
@abasiri And is it staying there when you refresh?

[2019-04-30 18:03] abasiri commented on #59
@russelldc yes. That is the 'stable' view of gmail without the extension. Inbox used to do something similar when it thought an email was important and I had forgotten about it, it would bring it forward again, but it would indicate that was the case.

[2019-04-30 18:05] russelldc commented on #59
@abasiri So it's not tagged with the yellow important marker, then?

If it is marked, then is the 8:34AM email not marked as important?

[2019-04-30 18:12] russelldc commented on #59
@abasiri It seems like the feature you were talking about, quoted below, is the Nudges feature.

@djcurfew Is Nudges turned on? Check Settings -> General -> Nudges

Also, what "Inbox type" (Default, Important first, etc.) are each of you using?

If it's not either of those things affecting it, it sounds like it's just a Gmail glitch :/

[2019-04-30 18:42] abasiri commented on #59
That's it, it must be the Nudges, It's turned on in mine. A work around would be to turn off nudges.

[2019-04-30 18:43] russelldc commented on #59
@abasiri Could you try turning it off and see if that actually "fixes" it?

[2019-04-30 19:23] abasiri commented on #59
It's unlikely to fix the current emails, it should just prevent future
emails from going out of order.

[2019-04-30 19:29] russelldc commented on #58
One thing that makes this a bit difficult is that it seems like Gmail doesn't apply a certain class on theme-change, it just loads in a new css stylesheet entirely. So it's not obvious how to decide when the text and icons should be light or dark.

[2019-04-30 19:35] djcurfew commented on #59
I have "default" inbox and it also isn't nudges. I think this has something to do with throughout my day, after snoozing and working with certain emails. When I start the day, it works fine. Let me try and get some pattern recognition going here so I can figure out what the issue is. I'll try to get repro steps and let you know.

@abasiri bounty sent via paypal!
@russelldc let me know your paypal

[2019-04-30 20:39] abasiri commented on #59
@djcurfew Thanks for the bounty!

I figured out the issue: When you click on a snoozed email, and then come back to inbox, it no longer has the yellow tag information about the snoozing, just the original date. I use the yellow tag to identify snoozed emails. A fix would be to identify out of place emails and treat them the same as I do with snoozes. Any fix would have to consider that there could

[2019-04-30 21:50] russelldc commented on #59
@djcurfew russelldc@outlook.com

Thanks! 😊

[2019-04-30 21:50] russelldc commented on #59
@djcurfew russelldc at outlook

Thanks! 😊

[2019-04-30 23:17] djcurfew commented on #59
@russelldc sent!

@abasiri Awesome, you're the best!

[2019-05-02 17:31] russelldc commented on #59
@djcurfew Thanks again! I think @abasiri added some changes to further rectify the snooze date problems, in PR #68. I'm hoping we can get that PR complete and merged in the next 24-48 hours.

[2019-05-02 17:32] russelldc commented on #59
@djcurfew I'll close this issue when you test those new changes, unless you think it's ready to close now.

[2019-05-02 17:58] russelldc commented on #55
@ryanmclaughlin
It's a good question, and I don't have the stats right now to answer it accurately. I'd been a little concerned about the same thing, though.

In PR #68, it's been changed to 250ms now (240 times a minute) ... but that's not all that much better. Plus, the longer the timeout, the longer it takes to see visual changes made by the extension. So it would mean more obvious flashes when

[2019-05-02 19:11] russelldc commented on #29
Clicking the new Compose button element could trigger [`gmail.compose.start_compose()` via the Gmail.js lib](https://github.com/KartikTalwar/gmail.js#gmailcomposestart_compose)

[2019-05-02 23:00] russelldc commented on #55
I did a couple quick tests on [the upcoming bundles branch](https://github.com/boukestam/inbox-in-gmail/tree/ali-bundle-link-to-labels), with Chrome's built-in Task Manager open to the side.

For both tests, I had the tab focused, in my inbox folder, not moving the mouse. I waited for the initial loading and network spike to subside. This is on a Mid-2015 Retina MacBook Pro.
With the extension off

[2019-05-03 06:50] boukestam opened #69 "Extension removed from chrome store"
Hi guys,

Today I received this email:
![remove email](https://user-images.githubusercontent.com/8492132/57122940-16f66a00-6d80-11e9-80af-f9fc1a6e5b96.PNG)

The extension is removed from the store until we make "some changes". It is very unclear as to what we need to change, so I've already replied to get some more information. I would like your help to figure out some things to change so I can re

[2019-05-03 07:18] abasiri commented on #69
@boukestam That is annoying! I think it's worth just going after the two bullet points they specified. For the screenshot one, maybe we can have a split screenshot that "shows" a transformation from gmail to inbox look. on the left side is gmail and right side is inbox in gmail, with an arrow in the middle. And maybe some text on the screen shot that says make gmail look like inbox. Then followed

[2019-05-03 07:28] boukestam commented on #69
That is a great idea for the screenshot! The description was:
[code]

[2019-05-03 13:44] espionagesoftware commented on #69
I'm not a developer just a fan of this extension so I can't help with any technical issues but there is another extension that works similar (but not as well) and is still on the Chrome Store called "Inbox Theme For Gmail"

The name is pretty bland but it states specifically what you are getting: a "theme" for gmail.

Maybe their wording and description could help as well:
https://chrome.google.co

[2019-05-03 14:46] boukestam commented on #69
@espionagesoftware Thanks, that is a good point, the name could definitely be better. I think we should come up with a new name and icon just to be sure. The process of applying for review takes a long time so its better to get it right

[2019-05-03 14:48] russelldc commented on #69
@espionagesoftware The header color/title changing is to be fixed soon, in issue #10. I already know what needs to change for that to work. I'll probably get on that this weekend or late tonight.

Thanks for the comment, you're probably right about the name, unfortunately.

[2019-05-03 15:06] abasiri commented on #69
Inbox in Gmail as a name is hard to search for anyway.

I think any new description should also talk about the bundling feature
aswell. Or maybe the name can highlight that such as "inbox bundles for
Gmail". That way it becomes more discoverable. (Assuming most people are
looking for that feature based on comments on the extension)

[2019-05-03 15:07] djcurfew commented on #59
I haven't had any issues, so clear to close! Thanks again!

[2019-05-03 15:07] #59 closed, assigned to nobody

[2019-05-03 15:14] joeytroy commented on #69
Maybe we name it **Inbox Reborn** Short description - Taking the ugly and making it proper!

[2019-05-03 15:18] abasiri commented on #69
I like that (without the tag line 😉)

[2019-05-03 15:29] russelldc commented on #69
@boukestam Here's an updated description, this expects bundling has been merged:

# Inbox In Gmail (new name to be decided)

This extension brings back the features and uncluttered design you knew and loved from Google's discontinued Inbox app to Gmail.

## Features

- Bundle emails by label and category
- Group emails by date (today, yesterday, this month, etc)
- Clean interface to come closer to

[2019-05-03 15:41] russelldc commented on #37
I'll go ahead and close this now that the PR looks like it's about to be merged.

[2019-05-03 15:41] #37 closed, assigned to nobody

[2019-05-03 15:51] russelldc commented on #69
@espionagesoftware @boukestam I'm so confused how they targeted this extension for removal, and not `Inbox Theme for Gmail`. I think it must just be a problem with the name, because:

- They don't show a Before/After screenshot either, theirs is just like ours was, a simple image of the inbox folder.
- I thought maybe our description was misleading because it might seem like it's bringing over off

[2019-05-03 15:53] joeytroy commented on #69
The screen shot is old, as we removed the number of emails listing i.e. Inbox 3, Drafts 21

[2019-05-03 15:54] russelldc commented on #69
@g60madman Yes, that's just what was on the Firefox add-on page. I was just pulling it here for reference.

[2019-05-03 16:06] abasiri commented on #69
So far I like "Inbox Reborn" the best.  Vote with likes on this comment.

[2019-05-03 17:01] russelldc opened #70 "Bundling Enhancements"
1. ~~When de-duping senders, if there are multiple emails from the same person and any are unread, then show as bold, if all are read then show as normal text. (reported by @jcgoble3, strategy by @abasiri)~~ **Done in commit fba8189466f2e40f81e5848d3cdfd8e684e10ddf**
2. For a conversation with multiple participants, this extension always chooses the sender of the first message to display in the bu

[2019-05-03 17:27] boukestam commented on #69
Ok, so the name will probably be Inbox Reborn. And I really like russells description. Now we just need a new icon. I guess the current icon looks a lot like gmails, just colored blue. That might be a problem as well. I made an attempt at a new logo:
![image](https://user-images.githubusercontent.com/8492132/57154584-91070d00-6dd9-11e9-9607-2f1a91d54fa0.png)

[2019-05-03 17:38] abasiri commented on #69
It would also be good to have a couple of good screenshots, some with full screen shots, but also some with zoomed into specific features, and a 1-2 word description on the image: eg. Group by Date, Bundles, etc.

[2019-05-03 17:50] abasiri commented on #69
Something along these lines could work:

![image](https://user-images.githubusercontent.com/708414/57155819-42ce1b80-6d91-11e9-8a2f-2ca5eb795626.png)

![image](https://user-images.githubusercontent.com/708414/57155661-e7039280-6d90-11e9-9a8b-dff3f77ded6f.png)

[2019-05-03 17:59] joeytroy commented on #69
Here is a little something new age

![inbox_reborn](https://user-images.githubusercontent.com/1558465/57156292-d6f0b080-6d9a-11e9-9c6a-d2d776b2e05c.png)

[2019-05-03 19:31] ryanmclaughlin commented on #55
@russelldc Nice work. Good to see it's not terrible but definitely not great.

gmail.js and Inboxsdk have the same problem I believe, their handlers have a hard time observing a change that Gmail makes to the DOM after 10s or so after loading. I've tested both libraries including manually adding an observer to watch for changes to the inbox emails list by adding a class on each email, but Gmail st

[2019-05-03 19:40] russelldc commented on #55
@ryanmclaughlin Agh, that's disturbing...

If you saw what you think you saw (ie. it wasn't just that you were using it wrong), then it might have something to do with the recent changes to Chrome over the past year or so, when they started throttling unfocused tabs/windows.

Wait, actually, you didn't specifically mention the problem coming up when it was in the background. You're saying you can

[2019-05-03 19:46] abasiri commented on #69
This looks cool, I think something simpler would be more appropriate. Something recognizable, yet quickly distinguishable from the original.

[2019-05-03 19:56] ryanmclaughlin commented on #55
Yeah, actively watching the dom. It's why there's a setTimeout on updateReminders currently. If you try adding a class when the page loads to an email, any changes are reverted.

For example: try just running `document.querySelector(".zA").classList.add("new-class")`, that class will be removed after about 10s because the Gmail does something to redraw the inbox. I tried setting a MutationObserver

[2019-05-03 19:56] russelldc commented on #69
Yeah, at the very least, it should be square :P

[2019-05-03 20:12] russelldc commented on #55
Just wondering, which events were you observing with Gmail.js?

I still haven't tried it out myself, yet. To solve the issue you're talking about it seems you'd need to look at the following events, with `gmail.observe.on(action, callback)` and/or `gmail.observe.after(action, callback)`:

- `poll` - When gmail automatically polls the server to check for new emails every few seconds
- `new_email` -

[2019-05-03 20:19] ryanmclaughlin commented on #55
I can't remember to be honest. I think it was `gmail.observe.after("load_email_data", callback)`? I'm sure there's a better way; I think `http_event` would be interesting.

[2019-05-04 13:21] russelldc commented on #51
I think I'm pretty dang close to cracking this :) I've figured out how most of the hashed tokens and api keys get generated for the profile photo lookup request.

Edit: Got almost everything ready. There's just 2-3 more parameters I need to find the origin of.

[2019-05-04 18:18] boukestam commented on #69
I like the ones from @abasiri the best. The one from @g60madman looks too much like the material logo. I will resubmit with the name "Inbox Reborn". And one of the two icons from @abasiri. And for the description I use the one from @russelldc. Which icon do you like the best?

[2019-05-04 18:50] russelldc commented on #51
Alright, I've got the request all working, but I don't have it hooked up to anything automated/UI-related yet. It can be triggered from the Chrome web console, like:

[code]

You should see a parsed response like this one:
[code]

I had to inject this code into the body/document, because of a CORS issue. Google's API wasn't accepting the requests because they showed as originating from the extensi

[2019-05-04 19:03] russelldc commented on #69
@boukestam
I like the idea of @abasiri 's icons, but I think they may be way too similar to the real Inbox logo right now.

Also, I updated the screenshot in the repo's README yesterday, but it's just an After, not a Before/After.

[2019-05-04 19:12] russelldc commented on #69
@boukestam
Here's a before/after set of screenshots I just took. They're the same exact dimension; that should make it easier to put together a comparison illustration. Same inbox content in both screenshots:

<img width="1361" alt="Screen Shot 2019-05-04 at 8 11 31 PM" src="https://user-images.githubusercontent.com/5100126/57183720-ec540080-6ea8-11e9-9830-2d35bdeb5f12.png">

<img width="1361" alt

[2019-05-04 19:24] russelldc commented on #69
@boukestam An animated GIF, if they allow those:

![ezgif-3-63182714d6bd](https://user-images.githubusercontent.com/5100126/57183871-a861fb00-6eaa-11e9-93d5-05361662a201.gif)

If you need a smaller one, this one's 600KB, versus the 2.8MB above:
![ezgif-3-6e2dd74e3d91](https://user-images.githubusercontent.com/5100126/57183941-aba9b680-6eab-11e9-932d-e00a7a0b6506.gif)

[2019-05-04 19:41] russelldc commented on #69
I found these guidelines they have for Chrome extensions that mention or display Google brands:

https://developer.chrome.com/webstore/branding

[2019-05-05 11:17] boukestam commented on #69
Ok so we definitely need a completely new icon then. Not using anything from existing google icons. What do you think about this one:
![image](https://user-images.githubusercontent.com/8492132/57193121-28827200-6f38-11e9-8ec9-d8b3118ab4d7.png)

[2019-05-05 11:21] boukestam commented on #69
We should also probably change the "Inbox" back to gmail in the top bar. Since that makes it look like it is actually inbox and that is a google product

[2019-05-05 13:37] russelldc commented on #69
I disagree, that's the name of the email folder you're in. But... I should go fix #10 (Change header title and color by folder) right now so that's actually always true. According to @leggett (co-founder of the Inbox product) at least, as he so gracefully put it:

Source: [FastCompany Interview](https://www.fastcompany.com/90338929/the-former-lead-designer-of-gmail-just-fixed-gmail-on-his-own)

By

[2019-05-05 13:50] russelldc commented on #69
@boukestam I think some good mix of your first idea https://github.com/boukestam/inbox-in-gmail/issues/69#issuecomment-489175617 and the most recent one would work.

I think your first one may have been a small modification of the Inbox logo. How about one of us re-do the blue envelope from scratch, and instead of the reminder icon on the opened letter in the envelope as in the first idea, place a

[2019-05-05 14:15] russelldc opened #72 "Add the Show Only Pinned toggle to header area"
As seen in this screenshot:

<img width="432" alt="Screen Shot 2019-05-05 at 3 12 49 PM" src="https://user-images.githubusercontent.com/5100126/57195249-43f57900-6f48-11e9-8335-fe013a644c2b.png">

It would be great if the toggle status is also saved in localStorage, along with the current account's address so different accounts can have a different setting.

[2019-05-05 14:33] russelldc commented on #69
I noticed the branding guidelines say it's okay to mention the name of a Google product in the name, description, and promotional image for your extension on the Chrome Web Store, but that it should include the trademark symbol, like:

`Inbox Reborn for Gmail™`

Although, it seems quite rare to see others actually doing that (ex: Dropbox for Gmail, Boomerang for Gmail, Simplify Gmail, Inbox Theme

[2019-05-07 02:11] russelldc commented on #10
Solved in PR #74

[2019-05-07 02:11] #10 closed, assigned to nobody

[2019-05-07 02:11] russelldc commented on #69
I just pushed up code that changes the header's title and color to reflect the current folder. Fixes issue #10 in PR #74
Please review so I can merge asap @abasiri @boukestam @g60madman , thanks!

[2019-05-07 05:41] russelldc commented on #29
Fixed in commit https://github.com/boukestam/inbox-in-gmail/commit/2ca70b7828e1faf2f8db6bdc0dab5716fdb42ada

[2019-05-07 05:41] #29 closed, assigned to nobody

[2019-05-07 06:04] russelldc commented on #70
Fixed No. 4 in commit 897f9b664bc8209d09c765ee51498d9c0f3a4748

[2019-05-07 06:24] russelldc commented on #70
Fixed No. 1 in commit fba8189466f2e40f81e5848d3cdfd8e684e10ddf

[2019-05-07 07:00] russelldc commented on #70
Fixed No. 5 in commit 0bad7b27e3de1357e34f384962eedef6cdab4837

Screenshot: @abasiri @boukestam @jcgoble3

<img width="803" alt="Screen Shot 2019-05-07 at 7 51 29 AM" src="https://user-images.githubusercontent.com/5100126/57278331-19b5cf80-709e-11e9-87a4-8398adedf004.png">

[2019-05-07 07:50] russelldc commented on #70
Fixed No. 6 in commit ba984a4352f98f3974e8377daf2c8397c0bbe8a8

Screenshots:

<img width="808" alt="Screen Shot 2019-05-07 at 8 45 43 AM" src="https://user-images.githubusercontent.com/5100126/57282511-1a9e2f80-70a5-11e9-927f-71741e330dd7.png">
<img width="803" alt="Screen Shot 2019-05-07 at 8 45 52 AM" src="https://user-images.githubusercontent.com/5100126/57282512-1b36c600-70a5-11e9-93bd-b5831ea

[2019-05-07 09:22] russelldc opened #75 "Add option to hide timestamps on right side of emails in inbox/list"
This is mostly just a reminder for myself to complete this, not a request.

The original Inbox webapp was as simple as possible, it didn't even show the date/timestamp on the right side of each email in the inbox (or other folders).

I've seen a few people ask for this in reviews, and I'd wanted this as well. Now that we have the extension options menu, I'll go ahead and add it, and default to sho

[2019-05-07 09:23] russelldc opened #76 "Move Extension Options to popup when clicking extension icon on browser toolbar"
Rather than redirecting users to the chrome://extensions page with the Options modal showing there, it would be better UX for it to show up as a popover modal when clicking on the icon in the top right of the browser.

[2019-05-07 09:29] russelldc commented on #44
Now that we've got label bundles... ☺️

If no one else picks this up over the next few days, I'll likely get it done.

We'll need the sweep icon button in 3 places:
- On the far right side of each date label sub-header, as shown in @bhylak 's gif above
- On the far right side of each bundle item in the inbox, on hover
- Inside the bundle folder, on the top toolbar, approximate location shown in sc

[2019-05-07 09:45] boukestam commented on #69
I have merged it. I will create a draft with the new version, icon, name and description later today and put that on the chrome store for review. We can always change the icon later if we want. Hopefully we are back online in a few days

[2019-05-07 09:46] boukestam commented on #69
Can you make some screenshots of the inbox and done page? My inbox is really full of private emails at the moment

[2019-05-07 09:49] russelldc commented on #69
Sure, give me a few minutes. I'll need to shuffle around private emails, too :)

[2019-05-07 09:58] russelldc commented on #69
Oh weird, I just pulled the merged master, and the bundle/category icons aren't working anymore. Fixing now...

[2019-05-07 10:00] russelldc commented on #69
Fixed. I left behind a stupid typo during the change that added colored custom labels.

[2019-05-07 10:17] russelldc commented on #69
![inbox_menuopen](https://user-images.githubusercontent.com/5100126/57292434-96a27280-70b9-11e9-9439-51b5294d5189.png)
![inbox](https://user-images.githubusercontent.com/5100126/57292435-973b0900-70b9-11e9-8b3a-12b4ca61ba0a.png)

![done_menuopen](https://user-images.githubusercontent.com/5100126/57292432-96a27280-70b9-11e9-8230-756bf13917a6.png)
![done](https://user-images.githubusercontent.com/51

[2019-05-07 10:39] russelldc commented on #69
All of those are 1280x800 * 2 resolution.

Chrome Web Store guidelines recommend 1280x800 for screenshots.

[2019-05-08 13:59] Muffo opened #77 "Link to Chrome Webstore is broken in README"
I cannot find the extension on the Chrome Webstore anymore. The link in the README appears to be broken.

[2019-05-08 15:05] russelldc commented on #77
@Muffo See issue #69 Extension removed from chrome store

Google removed the extension about a week ago, and sent a vague explanation email to @boukestam

We've since changed the name to Inbox Reborn, updated the description, put together new screenshots and a new icon that doesn't use the Gmail icon. I think Bouke has re-submitted it as of yesterday, waiting for approval now.

If you need to inst

[2019-05-08 15:15] russelldc opened #78 "The first letter avatars should have a unique color per sender, not just per letter"
In Inbox, when two or more emails from different senders with names that had the same first letter, the separation was clear at a glance because of the unique colors.

As it is now, there's one hex color per letter of the English alphabet. So situations like this one are common:

<img width="232" alt="Screen Shot 2019-05-08 at 4 12 43 PM" src="https://user-images.githubusercontent.com/5100126/5738

[2019-05-08 18:11] digitalneoplasm opened #79 "Open emails/bundles inline (instead of navigating to a new page)"
In Inbox, when you clicked on a mail item it didn't take you to a new page as gmail does. Instead, it opened in-line with the rest of your inbox. I imagine this is a massive undertaking, and perhaps not even possible given with is available when doing this as a Chrome extension, but I figured I'd put it out there :).

![Pasted_Image_5_8_19__2_03_PM](https://user-images.githubusercontent.com/145251

[2019-05-08 20:20] russelldc commented on #79
@digitalneoplasm This has definitely been considered, but like you said:

I don't think it's impossible at all, though. I have an issue up for bundle enhancements (#70), including improving the UX for navigation. It seems like spending time making all those changes would be wasted effort if this is possible instead.

If no one else gets to this first, I think I'll try something out. I'd go with in

[2019-05-08 20:21] #77 closed, assigned to nobody

[2019-05-08 20:34] Muffo commented on #77
That's unfortunate! Thanks for the reply.

Maybe you could keep this ticket open as a "reminder" that the README needs to be updated once the new extension is published.

[2019-05-08 20:47] russelldc commented on #77
I'll go add a disclaimer to the readme now, good point.

[2019-05-08 21:41] russelldc commented on #76
Completed in a26ab272911bdbd1f8e5375bcf31148e5ead8a6e

[2019-05-08 21:41] #76 closed, assigned to russelldc

[2019-05-10 13:33] phillips-tech commented on #69
@boukestam , I'm a user and a developer.  I'm missing this extension on my recently provisioned laptop.  Can I help?

[2019-05-10 13:40] russelldc commented on #69
@quietseditionist Know anybody on the Chrome Web Store team who can fast track the appeal/re-submission? :P I think we're just waiting for approval, right now, if @boukestam submitted it 3 days ago as he said he did.

[2019-05-10 13:41] russelldc commented on #69
@quietseditionist If you really need this on your laptop, you can just load the extension from the source here on Github. Just clone the repo or download it as a zip and extract to a folder.
Go to `chrome://extensions/`, toggle `Developer Mode` in the top right, and then click the `Load Unpacked` button near the top left.

[2019-05-10 13:42] phillips-tech commented on #69
Heh, I wish I could say so @russelldc .  I will do the side-load thing.  Thanks!

[2019-05-10 13:43] boukestam commented on #69
It was already rejected unfortunately, so I've just reverted everything to how it was (excluding the new icon and name) and I'm now waiting on a reply again...
![image](https://user-images.githubusercontent.com/8492132/57531685-543b9880-733a-11e9-912c-222e0bae3231.png)

[2019-05-10 13:45] russelldc commented on #69
@boukestam Ugh, did they give any explanation for the rejection?

Why'd you decide to revert the description/screenshot? Couldn't it be considered misleading to use the older screenshot and description with the new code? I might be overthinking that, though.

The submission FAQ says:

Also, what screenshot did you use in your submission? Was it a before/after split image?

[2019-05-10 13:59] boukestam commented on #69
Well, it was rejected with the previous (new) screenshots, which where exact matches with how it looks when being used. I also added your description @russelldc and even the new name. But that was not good enough and they said this:
![image](https://user-images.githubusercontent.com/8492132/57532697-661e3b00-733c-11e9-91ac-a63a33480d25.png)
So the only explaination I can think of is that they just

[2019-05-10 14:09] russelldc commented on #69
@boukestam

That's clearly not true. There's hundreds of extensions that deal specifically with Gmail.

So, the images of the inbox and done folder I posted earlier in this issue? Not a before/after split image kind of thing?

Thanks for including their original response, but I was wondering if there was any new message that came with the recent second rejection?

Based on that email from them, **

[2019-05-10 14:11] russelldc commented on #69
@boukestam What did you submit as the extension's promotional image?

The one that shows up here, on the search page:
<img width="799" alt="Screen Shot 2019-05-10 at 3 11 11 PM" src="https://user-images.githubusercontent.com/5100126/57533510-decdc900-7335-11e9-994a-38045602a00b.png">

Or did you leave it as just the logo with whitespace?

Also, what did you use as the "Short description"? The one

[2019-05-10 14:23] russelldc commented on #69
@boukestam I'm pushing up a new commit to the master branch with a new manifest.json (with a better short description: `Adds features like reminders, email bundling and Inbox's minimalistic style to Gmail™`, as well as the `Inbox Reborn theme for Gmail™` name.) and a slightly modified long description, with the trademark symbol.

When you submitted, did you change the extension's icon in the `icon

[2019-05-10 15:01] russelldc commented on #69
Here's a before/after I whipped up quickly. I don't have much time right now, I might come up with something better later. I'd recommend using this (or something like it) as the main screenshot, followed by the Options menu, the new Done folder, and the new Inbox folder screenshots

![before_after_screenshot](https://user-images.githubusercontent.com/5100126/57536796-d62cc100-733c-11e9-9f3c-aec260

[2019-05-10 15:17] boukestam commented on #69
I did almost exactly that and it was rejected:
<img width="640" alt="before after" src="https://user-images.githubusercontent.com/8492132/57537888-7f78b480-7347-11e9-8080-08e8f3be8e77.png">

[2019-05-10 15:24] russelldc commented on #69
@boukestam That one seems good enough to me... Although why were you using that old screenshot on the after side? Edit: ah, my newer ones may have been uploaded here after you submitted that day.

How about the other questions? When you re-submitted, did you update the manifest to match the new name and description, and extension icon?

[2019-05-10 22:13] espionagesoftware commented on #69
I noticed in the "new" rejection email it adds this:

"Please ensure your item is not copying icons/screenshots from popular items in the store"

Note the word "popular" .   Not sure what it is copying though.  Other than Google's own icons.

[2019-05-10 22:25] russelldc commented on #69
@espionagesoftware
Every published screenshot up until then had been of either @boukestam's, @g60madman's or my own inbox. And as far as I know, Bouke hadn't copied the first icon from another extension. It could be argued it's a recolored Gmail icon, but that wouldn't explain why they rejected the re-submission that had the new original icon (unless it's because @boukestam didn't change the icons

[2019-05-11 11:24] pdarmas opened #80 "Top Bar Changes colour and text when Composing"
Hello there, firstly **thank you** for this extension, you have done a fantastic job and could not thank you guys enough for bringing this back to life!

Now I don't know if is intended but when composing an email with or a "pop out reply" the top changes colour to grey instead of the usual blue and displays "Search" instead of Inbox. See below:

![Inbox Bug_censored](https://user-images.githubuse

[2019-05-11 13:26] boukestam commented on #69
Ok guys, this will be my last try. The extension was rejected again yesterday, without any clear explanation. I'm really surprised by the lack of communication from Google, there is no clear indication of what exactly is the problem. If this doesn't work I will give up, since it's giving me a lot of stress. What are your suggestions for all of the following items:

- Title
- Icon
- Short descripti

[2019-05-11 14:31] russelldc commented on #69
@boukestam Could you please answer my previous questions? It'd really help decide how to proceed.

What *exactly* did you submit yesterday?

Here's those previous questions I'd asked, above in this issue thread:

I'll go make a 640x400 version of the Options page/popup. When you uploaded the screenshots, did you downscale from 2560x1600 to 1280x800?

If this last try still doesn't work, I could tr

[2019-05-11 15:03] russelldc commented on #69
For this last submission attempt, it might be worth it to create these kinds of descriptive screenshots, that [Checker Plus for Gmail](https://chrome.google.com/webstore/detail/checker-plus-for-gmail/oeopbcgkkoapgobdbedcemjljbihmemj) is using:

![image](https://user-images.githubusercontent.com/5100126/57571431-27ed4e00-7406-11e9-9e09-7c0636ac4ba2.png)

But I don't want to add any more stress on y

[2019-05-11 17:38] Ajedi32 commented on #69
It's really frustrating that you keep getting generic rejection messages with no specific details about what we actually need to change to pass review. The fact that we all have to sit here and _guess_ why the extension was rejected is pretty ridiculous.

No idea if this will work or not, but have you tried contacting support yet? https://support.google.com/chrome_webstore/contact/developer_suppor

[2019-05-11 19:19] jcgoble3 commented on #69
I really hope you don't give up on this. At the very least, please continue to to publish it in the Firefox add-on store and support it there. I use Firefox and cannot manage my email without bundling.

[2019-05-13 18:18] Muffo commented on #69
@russelldc maybe you could try to submit from your account and see what happens? I wonder if @boukestam has been kind of _black listed_ after they blocked the extension.

Also, the screenshots can be updated after the extension has been published. To narrow down the problem with Google you could submit it without any image and see what happens.

[2019-05-14 11:35] boukestam commented on #69
I'm ok with others posting the extension, as long as there is a link and credit to this repository. So maybe that is a good thing to try.

[2019-05-14 13:32] russelldc commented on #69
Sorry for the delay on making those new screenshots, I got really busy with work (had to travel for work over the weekend, too :/).

I'll try to get it done after work today, and if Bouke isn't around at the time, I'll submit from my account, and credit this repo.

@boukestam What'd you submit as the promotional images in the past?

[2019-05-14 14:10] russelldc commented on #80
Definitely not intended, thanks @pdarmas

I'll probably fix this myself, today. It's an issue with the URL hash changing when the compose popup is opened.

[2019-05-14 17:34] pdarmas commented on #69
Don't give up on this, a lot of people are really happy with this extension and your fantastic job . Pitty that the Chrome Web store team is not very communicative, but I have some spare time in my hands, if necessary.

[2019-05-14 17:55] joeytroy commented on #69
Been a while since I chimed in, one thing I noticed maybe a problem is this. Regardless of bundle or no bundle it doesn't seem to work

![image](https://user-images.githubusercontent.com/1558465/57720475-2bb7e500-763f-11e9-9c6b-6b13434c4a14.png)

[2019-05-14 18:29] russelldc commented on #69
@g60madman What are you seeing in your inbox? It worked for myself and others. Did you follow the instructions in the readme/description?

If you disable it, you need to refresh to see the change. But as far as I can tell, if it's off and you toggle it Enabled, you don't even need to refresh, you should see the results right away.

[2019-05-14 20:08] russelldc commented on #80
@pdarmas Fixed in latest commit, 525c01aea5edf20e81a1775478a85aa87ab5c89b

[2019-05-14 20:08] #80 closed, assigned to russelldc

[2019-05-14 21:27] joeytroy commented on #69
@russelldc  it's working now

[2019-05-14 21:44] russelldc commented on #69
I saw this advice on a Google forum:

[code]

I also saw a blog post from someone who replied back to the rejection, and a few hours later received this:

[code]

[2019-05-16 23:05] Muffo commented on #69
The screenshot is horrible, there is no icon and the description is missing...
...but at least the extension is available on the [Chrome Web Store](https://chrome.google.com/webstore/detail/inbox-reborn-theme-for-gm/nffhiljihjelnbniafkljmpkjicfpeoj?hl=en&gl=US) for those that can't take it from the repo.

I'll take it down as soon as the official version is uploaded. In the meantime I'll upload a

[2019-05-17 20:04] Muffo commented on #79
This would be awesome!

[2019-05-18 03:04] jcgoble3 opened #81 "Publish update for Firefox?"
While the mess in #69 with the Chrome store is going on, the Firefox add-on store listing has been neglected. The last version available on the Firefox add-on store predates the introduction of label bundles, which is why I am still using the temporary add-on method from a git clone.

Can someone please package up the current version and publish an update for Firefox? That would benefit anyone who

[2019-05-28 11:27] russelldc commented on #69
Sorry for disappearing for 2 weeks (though it seems like most others did too!). I've had a lot of projects starting/ending at work. I'm hoping I can get back on this sometime this week. Thanks @Muffo for getting something up 👍I'd really like to eventually get Bouke's original listing up so those users don't get lost and confused. Based on a few articles I read, it seems like it would be worth cont

[2019-05-28 15:30] davelavoie commented on #79
Hi there,

I've tested the following script, and while it doesn't open emails inline, it does open the bundles inline:
https://github.com/TimeBomb/bundles-gmail

If I disable the bundles in the Inbox Reborn plugin settings, and enable the Bundles Gmail script, it almost works out of the box. The only issue is caused by the way emails are grouped by date: when opening a bundle, if one of the email

[2019-06-08 00:29] SharonPerp opened #84 "Create Inbox Reborn Launcher?"
This is kind of out there, but I used to use this great little App Launcher for Inbox. It kept my email separate from my usually huge number of Chrome tabs. And, I could close Chrome when it sucked down all my resources without disturbing Inbox.

Looked just like regular Inbox but opened as if it were it's own app. And, I believe it technically showed up as a Chrome App.

Amazing job on what you'v

[2019-06-10 11:32] russelldc commented on #84
@SharonPerp Interesting idea, but unless I'm misunderstanding, you're describing a Chrome app, which Google discontinued a couple years ago. [See announcement here](https://blog.chromium.org/2016/08/from-chrome-apps-to-web.html)

One way to achieve what you're asking for is to create an [Electron](https://electronjs.org/) app that points to the Gmail website, but somehow includes this extension.

[2019-06-11 18:25] SharonPerp commented on #84
Actually, I decided to take a look, and it's still in the Chrome store: https://chrome.google.com/webstore/detail/app-launcher-for-inbox-by/ajjmenfgmbpceneffopmikhahnkeebje?hl=en

Of course, now it launches the ugly gmail interface in its own window instead of actual Inbox.
Hope that helps!

[2019-06-11 20:38] russelldc commented on #84
@SharonPerp Yup, that one was last updated on **June 30, 2015**, long before Google discontinued Chrome Apps. The previously published ones were supposed to be removed from the Chrome web store as of last year, but that date got pushed back a bit more.

[2019-06-11 21:01] SharonPerp commented on #84
Hmmm, well, I don't understand how apps work really, all I know is it was fixed pretty quickly whenever Google changes broke it, and was perfectly useable until just recently.

[2019-06-17 02:36] jcgoble3 commented on #81
Bump. Pinging @boukestam here; it's been a month with no replies. Can we please, *please* get an update published for Firefox? It is painful having to manually load the extension as a debugging extension every time I restart Firefox, and now that I am using a portable version of Firefox as well on school computers, it's even more painful since I sometimes restart that copy up to a dozen times a da

[2019-06-17 02:43] jcgoble3 commented on #69
Trying to get some more attention here for #81. The Firefox add-on store listing has been completely ignored since this happened, and the latest version there predates bundling, which is absolutely critical for me. I have therefore been forced to repeatedly load the extension manually through the debugging interface every time I launch Firefox, which is now up to a dozen times a day since I now ca

[2019-06-17 21:02] boukestam commented on #81
Thanks for letting me know. I was very bummed out because of the removal from the chrome store so I kinda of forgot about firefox and took a break from development of the extension in general. I have just uploaded a new version to firefox so it should be up in about an hour. Please let me know if there are any problems, I have only tested the general features

[2019-06-17 21:02] #81 closed, assigned to nobody

[2019-06-18 05:00] jcgoble3 commented on #69
Comment above has been resolved. Please ignore. Thanks!

[2019-06-18 05:03] jcgoble3 commented on #81
Thanks. I've been using the HEAD of master, so this seems to be the same. This will make it much easier to handle my email.

[2019-07-04 04:19] Henboy10 commented on #69
Hey! I don't know if you guys know, but the Chrome Web Store listing link is dead. Just thought I'd let you know :)

[2019-07-04 06:15] Muffo commented on #69
Yes, I received an email yesterday saying that the extension had been taken down. Basically for the same reason the original submission was removed.

[2019-07-06 23:58] arxae commented on #69
Isn't it an option to supply supply  the CRX file for manual install (until the store debacle is resolved)

[2019-07-07 00:35] Muffo commented on #69
Yes, it's possible to create releases in Github and attach the CRX file there. This has to be done by the owner of the repo, though.

[2019-07-08 19:49] richardfrost commented on #69
@Muffo The listing that you created was version `0.5.0`, but the latest "official" release is `0.4.7`. Did you just use master, or did you make any other changes? Apparently Chrome removed the extension from my browser, and I'm hoping to get it back.

Thanks to all who have been helping out - this is a great extension!

[2019-07-08 21:06] Muffo commented on #69
Yes, I had simply used master.

[2019-07-08 21:32] richardfrost commented on #69
Thanks for the response. One last question @Muffo, when you mirrored the extension on the Chrome web store, did you set the visibility as "Public" or "Unlisted"? I'm wondering if unlisted might give it more protection from being removed until this mess gets sorted out.

[2019-07-08 21:40] Muffo commented on #69
Good question! It was posted a Public, but I am not sure if hiding it would help. I wonder if Google uses some sort of automated scan tools to detect violations in their guidelines. At this stage, I am still not sure what the problem is.

[2019-07-09 08:24] russelldc commented on #69
I think Unlisted would actually work -- I was planning on suggesting it for now, until we sort this out with Google, but forgot. I'm not sure you'd be able to make the denied one into Unlisted one, though.

Now that you've gotten refused, can you try responding to them, @Muffo? I think Bouke was too busy to follow up.

As I'd posted in an earlier comment here, I saw this advice on a Google forum:

[2019-07-09 08:56] russelldc commented on #69
@arxae @richardfrost I published a new release of v0.5.1, including a crx file

https://github.com/boukestam/inbox-in-gmail/releases

[2019-07-09 16:42] richardfrost commented on #69
@russelldc Thank you so much for the creating the new release!

[2019-07-12 22:26] whitespacecode commented on #79
Thanks for this.
I just came across these git pages!! I will try to merge the bundles scripts in the inbox in gmail.

[2019-07-12 22:57] russelldc commented on #79
There's a lot about that script/implementation that I don't like, but I guess that just means we need to improve it!

[2019-07-14 08:13] whitespacecode commented on #79
Yes i see lots of lines you don't really need.. But the core functionality works and that is what matters :)
 When i find a bit of time i'm going to look into it..

[2019-07-18 01:19] davelavoie commented on #79
I suppose it'll probably need some testing before it gets eventually merged to the master branch. I will be happy to help you during the testing phase!

[2019-07-26 18:48] LLI-inc commented on #69
Hi, I'm a user and I just read through this whole thread and it makes me sick what they're doing to you guys. It's so infuriating!  I LOVE this extension and in fact, can't live without it!

I had looked for it in the chrome store several times over the last few months to see if there was an update and was so disappointed and frustrated when I couldn't find it.  The only way I ended up here is bec

[2019-07-26 19:24] LLI-inc opened #86 "Grey instead of blue"
I just downloaded the latest version from here on github and installed it. The frames around the message index (on my 2-column layout) are grey, instead of blue.  Only if I use version 0.4.7 are they blue. 0.5.0 and 0.5.1 make them grey.

![image](https://user-images.githubusercontent.com/46686069/61976179-0c332600-afb9-11e9-816e-33f4313fef2b.png)

[2019-07-31 22:10] arormoser opened #87 "Set my email on the from field when creating a new reminder"
When you have multiple email address on your Gmail account and your main email is not the default one, the reminder is created under the default email address and should be created with the main email address. To fix that on line 448 of script.js you need to add this:

const from = document.querySelector("input[name='from']");
from.value = myEmail;

[2019-08-01 13:00] russelldc commented on #69
@LLI-inc I'm not sure if any of the others have had time to continue reaching out to Google's extension team. @Muffo @boukestam ?

I would have done it myself by now, but I've never uploaded it to the Chrome Web Store because I thought it might complicate things further, considering they have rules for not copying another extension on the store. I don't think I could contact them on another develo

[2019-08-01 14:11] russelldc commented on #87
@arormoser  When I was looking into fixing this just now, suddenly I'm noticing not even my To field is getting filled... is that part broken for you too, or is it just me?

[2019-08-01 14:19] russelldc commented on #87
I noticed you mentioned line 448 of script.js, it seems like you're on an outdated version. In the current master branch, this logic happens around line 766: https://github.com/boukestam/inbox-in-gmail/blob/master/src/script.js#L766

[2019-08-01 14:21] arormoser commented on #87
Yes, you are right. I was on an outdated version.

On Thu, Aug 1, 2019 at 11:19 AM Daniel Russell <notifications@github.com>
wrote:

[2019-08-01 14:30] russelldc commented on #87
Locally I fixed the issue that was blocking my To field from being filled, by changing the querySelector here from `.gb_db` to `.gb_lb`:

[code]

Pushing up the change now, along with your request for the From field.

[2019-08-01 14:33] #87 closed, assigned to nobody

[2019-08-01 14:44] russelldc commented on #86
Would you want it to be blue, or to be the normal lighter gray background color?

We don't "officially" support the 2-column/preview pane layout right now, it's recommended in the setup instructions/readme to disable it.

[2019-08-01 15:05] russelldc commented on #86
@LLI-inc I just pushed up a commit to master to remove those background colors that were inadvertently placed behind the email list in vertical split mode. It looks like this now:

<img width="1920" alt="Screen Shot 2019-08-01 at 4 00 59 PM" src="https://user-images.githubusercontent.com/5100126/62304573-1dc37480-b476-11e9-9e2e-82438c5dd3c3.png">

[2019-08-01 15:05] #86 closed, assigned to nobody

[2019-08-01 16:52] joeytroy commented on #69
This sounds a like a good time to resubmit. Honestly I think if we merged all the code into back into https://github.com/inbox-in-gmail I think any of us could push to the Google store who is a dev? Just  thought.

[2019-08-01 17:58] russelldc commented on #69
@g60madman Doesn't really matter what GitHub repo it's on, you just upload the packaged binary (the .crx file).

Like I mentioned in my last comment, I hadn't yet uploaded it myself to the Chrome Web Store because I thought it might complicate things further, considering they have rules for not copying another extension on the store. I hoped (and preferred) that we could revive the original listin

[2019-08-01 19:27] joeytroy commented on #69
I for one am fine if you want to post. I still think we should leave https://github.com/inbox-in-gmail the master repository as we have multiple admins associated with the repo so in the event something happens to a member the repo can continue on. Just my two cents.

[2019-08-02 14:05] LLI-inc commented on #86
Love the blue / hate the grey!  Thanks for the word on the 2-column layout. It has worked fine for me though. Your revision looks great. I'll install it sometime today.  Thanks so much!

Jonathan.

[2019-08-02 15:09] russelldc commented on #86
No problem. By setting the background to invisible, instead of to a specific color, it means you'll be able to see the background color or photo if you set a theme. There's other unsolved issues related to themes (mostly just text/icon colors), but... thinking ahead!

[2019-08-02 15:16] russelldc commented on #86
@LLI-inc I cut a release, in case you didn't want to build it yourself:

https://github.com/boukestam/inbox-in-gmail/releases/tag/0.5.2

[2019-08-16 15:54] henryaga opened #89 "Preview of the attached images in inbox list"
One of the most missed functions of Inbox by Gmail is to be able to see a preview of the attached images in the inbox list.  Now, this extension is able to show an icon, but it will be great if you add this preview function. As it give you the possibility to check the images attaches in many emails without the necessity to open every single email to what's inside.  It works very good for surveilla

[2019-08-16 15:58] henryaga commented on #89
![image](https://user-images.githubusercontent.com/42155197/63180897-3064ae80-c01d-11e9-9da4-41a99c3a4028.png)

[2019-08-29 01:51] JayTeeHaitch opened #90 "Removal of ads"
Is it possible to remove the adds that gmail puts in to look like emails? I was using the "Simplify Gmail" until I discovered this app, it removes the ads so I assume there must be a way to do it. https://chrome.google.com/webstore/detail/simplify-gmail/pbmlfaiicoikhdbjagjbglnbfcbcojpj

[2019-08-30 16:40] richardfrost commented on #90
Yes, it is possible. It was actually implemented before, but there was a conscious decision to revert it in [0.5.2](https://github.com/boukestam/inbox-in-gmail/releases/tag/0.5.2) to try and get back on the Chrome Web Store.

[2019-09-02 12:42] russelldc commented on #90
Yeah, this was a decision I made, and it's up for debate, really.

We're not sure why it got taken down from the extension store in the first place, so I thought I'd try to eliminate any possibilities. Within the next few weeks, I'll be publishing the extension under my own account after making a few updates. If it gets taken down again, I'll do everything I can to get in direct contact with the W

[2019-09-17 14:18] joeytroy commented on #69
@russelldc @boukestam I know it's been a while, have we decided to try and release the extension again? If not I have some free time and can post it along with creating a website and also YouTube video as well. Let me know your thoughts. Again I say we leave https://github.com/inbox-in-gmail as the main repo.

Somehow these guys still have their extension accepted and I think it has to do with the

[2019-09-17 15:55] russelldc commented on #69
@g60madman
I'll get it up there tonight, thanks for reminding me. I merged latest into the inbox-in-gmail/inbox-in-gmail fork and updated the home page to point there instead.

I'm a little unconvinced that the video is what made the difference, but who knows? I figured they would judge based on the content provided, not on an external site. I think it's just as likely it was just random. That oth

[2019-09-18 20:15] joeytroy commented on #69
Website is up. I also renamed the team site and repo

https://www.teaminbox.dev/ - Our website

https://github.com/team-inbox/ - Our team

https://github.com/team-inbox/inbox-reborn - Our code. I also activated issues as well so we can track them from the main repo now.

I am hoping to get the video done this week and published right now the website has the original Google Inbox video but I will g

[2019-09-18 21:11] russelldc commented on #69
👍Although, I'd recommend instead of a separate Wordpress instance, it could just be hosted directly on GitHub. See here for details, if you're not familiar: https://pages.github.com

We can have the teaminbox.dev domain point to it, as well, so it's not just team-inbox.github.io

Edit:
It's available at https://team-inbox.github.io/inbox-reborn (obviously placeholder content)
If you point the team

[2019-10-22 10:46] arormoser opened #91 "Reminder not getting my current email address"
Getting my current email address was not working for me. I change this and start working again:

Line 40 Replace this:
const getMyEmailAddress = () => document.querySelector('.gb_lb') ? document.querySelector('.gb_lb').innerText : '';
for this:
const getMyEmailAddress = () => document.querySelector('.gb_hb') ? document.querySelector('.gb_hb').innerText : '';

Also first time I create a reminder fo

[2019-10-24 06:17] satyammiryala opened #92 "how to solve , Chrome Web Store: Removal notification"
Dear Developer,

Your Google Chrome item "****** booking" with ID: ******************** did not comply with our policies and was removed from the Chrome Web Store.

Your item did not comply with the following section of our Program Policies:

"User Data Privacy"

Your product violates the "Use of Permissions" section of the policy, which requires that you:

    Request access to the narrowest perm

[2019-11-04 02:25] sakgoyal opened #93 "how to install now"
Now that its gone from the webstore, the releases page supplies a crx file. how do I install that?

[2019-11-04 02:32] #93 closed, assigned to nobody

[2019-11-04 02:33] sakgoyal commented on #93
never mind. I found out.

go to developer options in extensions and load unpacked after extracting crx into a folder

[2019-11-08 02:16] drazil100 commented on #69
Is there any news on the progress of getting this back in the web store? Is the project still alive? The Inbox Theme for Gmail extension kinda broken and when I submitted an issue on that project's github I was made aware that this existed. Unlike the other extension which was just a theme this actually brings back functionality so I would be very much interested in using this extension instead.

[2019-11-08 02:20] arxae commented on #69
Doesn't look like there is much activity at all. @boukestam seems to be absent from GH since september and the most recent fork (https://github.com/team-inbox/inbox-reborn) hasn't seen any activity for 2 months either.

[2019-11-08 02:27] drazil100 commented on #69
I noticed that as well. It would be really nice if I didn't have to manually install this on every machine I check email on. Hopefully someone reads this and revives the effort to get this on the web store :P

[2019-11-08 02:30] richardfrost commented on #69
It seemed like @russelldc was going to take over, but maybe he got busy?

I'd be willing to publish it if none of the contributors want to. No guarantee it won't get taken down again, which is probably why there has been delay and hesitation.

[2019-11-08 02:57] joeytroy commented on #69
I spun up a website for Team Inbox team and was planning on releasing a YouTube video showing off the application and then posting the extension. Just haven't gotten there yet as I have been really busy as of late. Here is the site, if some one wants to create video showing off the differences that would fantastic and I then I can post it up https://www.teaminbox.dev/

[2019-11-26 17:30] RedcoatAsher commented on #90
@JayTeeHaitch -- cc: @richardfrost @russelldc
I posted about this before, somewhere else, but do not remember the link. So, here is how anyway...

- install [Stylus Chrome Extension](https://chrome.google.com/webstore/detail/stylus/clngdbkpkpeebahjckkjfobafhncgmne)
- create a rule in Stylus for `mail.google.com` w/ the [contents of this Gist](https://gist.github.com/RedcoatAsher/dfd34688d4f139095d

[2019-12-10 14:39] gwilty-pixel commented on #69
Hey,
I use the extension on chrome on other devices. Today I can not use the extension on my new computer, due to the disappearance of the extension of the chrome webstore.
Is the project abandoning?
is it possible to take advantage of the extension by another means?

thanks for your reply

[2019-12-10 18:18] LLI-inc commented on #69
@gwilty-pixel - Go to this page:  https://github.com/boukestam/inbox-in-gmail/releases/tag/0.5.2 and download the inbox-in-gmail.crx file.

Then, open the Extensions page on your Chrome / Chromium browser and drag and drop this file onto that page. It will install automatically and you'll be good to go!

[2019-12-10 19:13] gwilty-pixel commented on #69
thanks for the reply
i did it, but i have the message :
This extension is not listed on the Chrome Web Store and may have been added without your knowledge.

![Annotation 2019-12-10 200715](https://user-images.githubusercontent.com/58738101/70560704-5fcd9700-1b89-11ea-93c9-a7b2579d26ce.png)

i can't activate it and i'm in developer mode

[2019-12-10 19:17] gwilty-pixel commented on #69
here is the official chrome webstore help [[answers]](https://support.google.com/chrome_webstore/answer/2811969?visit_id=637116021086573439-3985629061&p=ui_remove_non_cws_extensions&hl=en&rd=2) :

Use disabled extensions
If you need to use a disabled extension, you can contact the extension’s developer and ask them to upload their extension to the Chrome Web Store. This will allow you, and other p

[2019-12-10 19:22] richardfrost commented on #69
You might try loading an [unpacked extension](https://webkul.com/blog/how-to-install-the-unpacked-extension-in-chrome/). Just download the `Source code.zip` file from the [Releases](https://github.com/boukestam/inbox-in-gmail/releases) page, extract it to a folder and follow the steps linked above for loading an unpacked extension. This will cause a prompt every time you start Chrome that you'll h

[2019-12-10 20:02] gwilty-pixel commented on #69
here to say thanks you!
hope will back soon in store!

👍

[2019-12-16 19:28] voidlily opened #94 "Compose and reminder buttons show up on print page"
# What I did
From an email, I clicked the 3 dots button->Print

# What happened
When I go to print an email, the compose and reminder buttons show up there, blocking text in the printed pdf

# What I expected
The compose and reminder buttons don't show up, just the email content as normal.

[2019-12-30 23:51] russelldc opened #95 "The search bar's magnifying glass icon is now off-center vertically"
A recent change to Gmail's core CSS moved this icon off-center

<img width="459" alt="Screen Shot 2019-12-30 at 3 49 39 PM" src="https://user-images.githubusercontent.com/5100126/71605216-1a631080-2b1c-11ea-80ec-c877e7af1af3.png">

[2019-12-31 00:09] russelldc commented on #92
@satyammiryala Thank you for attempting to get it up on the store, I (among other contributors) have been a bit too busy recently to do so ourself.

1. Have you tried responding to the email, asking Google for clarification on what exactly is in violation?
2. When you uploaded this to the store, did you include a detailed description, including a basic privacy policy? See previous discussion here:

[2019-12-31 00:22] #95 closed, assigned to russelldc

[2019-12-31 00:55] russelldc commented on #94
@voidlily Solved in latest commit

[2019-12-31 00:55] #94 closed, assigned to nobody

[2020-02-18 22:02] mdesson commented on #91
Hi, has there be any movement on this issue? I'm having the same problem and this would make for a great PR to fix the problem. If not, I'd be open to put one up. I just discovered the extension today and it's great!

Edit: A quick note that the solution in the original issue has stopped working. However, this does work (`qb` instead of `hb`):
[code]

I'm not sure if it's because of my environment

[2020-02-19 19:47] mdesson commented on #91
I've put in a PR to fix this issue: https://github.com/boukestam/inbox-in-gmail/pull/96

[2020-02-21 21:20] maikol-solis opened #97 "Grey background with white icons. Almost unreadable"
Hi!

Awesome add-on, however the colors palette seems a little awkward with the grey and white colors. Please change it for the new gmail.

![image](https://user-images.githubusercontent.com/4078489/75072575-59c73100-54bd-11ea-9e9a-e41b8b726763.png)

Thanks.

[2020-02-21 22:20] maikol-solis opened #98 "Make visible the labels in each email"
Each email should have clearly visible the labels assigned by the user. Currently, all the labels are hidden until we click the label icon.

Thanks.

[2020-02-25 09:43] #91 closed, assigned to nobody

[2020-02-26 15:54] mdesson opened #99 "Update Firefox Version (currently 8 months behind)"
Would it be possible to update the Firefox Add-On? According to this page it was last updated 8 months ago, in mid June:

https://addons.mozilla.org/en-CA/firefox/addon/inbox-in-gmail/

[2020-03-01 05:04] jcgoble3 commented on #97
It seems you have the dark theme set in Gmail. Unfortunately, this extension only works correctly with the default theme.

[2020-03-01 16:40] maikol-solis commented on #97
Yes, I see. Thanks for the clarification. I changed it to the default theme.

[2020-03-01 16:40] #97 closed, assigned to nobody

[2020-04-03 21:18] maikol-solis opened #100 "How to install the new version in Firefox?"
In the readme there are the instructions to install the latest version in Chrome, but for Firefox we relied only in the official add-on page (https://addons.mozilla.org/en-US/firefox/addon/inbox-in-gmail/).

How can we install the newest version of this add-on?

Thanks.

[2020-05-04 02:40] mtherlihy commented on #69
Just want  to add that I love this extension and I could not use my email without it. I hope you are able to get it back in the store because without it I have this irritating "disable developer extensions" warning that pops up every time I open Chrome.

[2020-05-04 11:54] ANierbeck opened #101 "Create new Mail button without function"
If I want to click the "create new Mail" button, nothing happens.
But the console logs the following:

Unclear if those are related.

[2020-05-11 15:43] Muffo opened #102 "Fix advanced filter controls"
These advanced filter controls appeared for the first time today:

![image](https://user-images.githubusercontent.com/538925/81581136-3052ce80-9363-11ea-89fc-a3ef2c890f56.png)

Does anyone find them useful?

Maybe they could be hidden by default. Also, there is a grey rectangle above them that should be hidden.

[2020-05-11 20:10] LLI-inc commented on #102
I find them all useful except "To me" because pretty much all my mail is to me. But the rest could definitely be useful.

[2020-06-24 17:33] arormoser opened #103 "Compose Mail and Reminder Button not working"
Compose Mail and Reminder Button are not working, and a new compose button appears in the top left
![Annotation 2020-06-24 143316](https://user-images.githubusercontent.com/8503100/85604433-acf5ef80-b627-11ea-90b8-ff2768258bb2.png)

[2020-06-25 16:36] jeff-hykin commented on #103
I created a PR for it https://github.com/boukestam/inbox-in-gmail/pull/104 since I have the same issue.

For the impatient, like myself, you can download the fixed unpacked extension here:
https://github.com/jeff-hykin/inbox-in-gmail/releases/tag/0.5.6

[2020-06-26 22:27] LLI-inc commented on #103
Thank you all so much for that fix! It was driving me crazy.

[2020-07-01 16:13] voidlily commented on #101
Duplicate of #104

[2020-07-02 17:27] Muldec opened #105 "New Message button in left pane"
A "New Message" button appear on top of "Inbox" in the left pane (see image below)

![image](https://user-images.githubusercontent.com/34677746/86391268-cfc47b80-bc99-11ea-9075-e8e4490e66f7.png)

[2020-07-02 18:29] shank-eric opened #106 "Contributing"
I've been a long-time user of this extension (i.e. since Inbox turned off) and I've made some tweaks locally in the past, but never looked to actively contribute. However, the appearance of the Compose Button in the left hand navigation combined with the reduced activity here has spurred me to invest some time in working on the project.

Looking at the current code structure, I found the large js

[2020-07-17 17:22] AmySteam commented on #92
Hi there,

I went through your code and found the problem. [Here's an explanation video](https://www.youtube.com/watch?v=cpMqbVVWeKo&t=13s).

Amy
[@jackandamydev](https://twitter.com/JackandAmyDev)

[2020-08-01 12:40] #98 closed, assigned to nobody

[2020-08-01 12:40] #100 closed, assigned to nobody

[2020-08-03 04:20] ayushnasa opened #107 "Bundles have stopped working"
It seems that there has been some change from Google side, and Bundles have stopped working from some days.

[2020-08-04 16:20] theRealPadster commented on #107
This probably fixes it: https://github.com/team-inbox/inbox-reborn/pull/10

[2020-08-05 16:24] danieljwest commented on #107
It's all sorts of unclear what repo is the right one nowadays. I'll submit my PR here as well

[2020-09-01 18:17] j97051 opened #109 "I cant get avatars to display"
I recently reinstalled my mac and lost the chrome extension which is no longer available, so I installed this version instead. The avatars are not displaying though and the toggle checked in the settings.

Is there anything I can do? I'm gutted to lose them as it really helps greatly when scanning emails with dyslexia.

Thanks

[2020-09-02 08:08] j97051 commented on #109
I removed the extension, reinstalled and they are now appearing. i will close this now.

[2020-09-02 08:08] #109 closed, assigned to nobody

[2021-04-24 13:07] joeytroy commented on #69
@boukestam Close this issue up! We are back in the store!

https://chrome.google.com/webstore/detail/inbox-reborn-theme-for-gm/bkphmihkdbdgedlaflnkhnmnmibffomf?hl=en&authuser=1

[2021-04-25 00:46] LLI-inc commented on #69
That's awesome!  Did you ever find out why they took it out of the store in the first place?

Anyway, I'm so glad it's back in. Like mtherlihy said (above) I couldn't use gmail without it either.

[2021-04-25 12:40] joeytroy commented on #69
@LLI-inc no clue why they pulled it @boukestam tried to get it republished but they rejected it. I resubmitted it through my google biz account and it'd all back up so who cares now 👍

[2021-04-25 14:13] richardfrost commented on #69
Thanks for submitting it! I think we care about why it was removed because if the reason isn't addressed, it could just happen again. Hopefully not, but without knowing exactly why it was removed in the first place only time will tell.

[2021-04-25 14:20] joeytroy commented on #69
@richardfrost If you look at the first post at the top it gives a really rough explanation on why it was not approved. I went back and gave a full description of the permissions and policies the script is using and how we are using javascript to manipulate the Google Gmail CSS and replace it with ours to give Gmail a new theme. I don't think this will be an issue again moving forward as it once ag

[2021-04-25 14:25] boukestam commented on #69
Thanks a lot @g60madman! That's amazing news. I had kind of given up after all the issues with the chrome store, but I'm glad that people can now use it again.

[2021-04-25 14:29] joeytroy commented on #69
@boukestam you bet man, I am glad it's back as well as so many devs have worked on this wonderful extension!! I wrote a damn documentary about what it's doing and how we are manipulating the CSS with javascript. It only took 2 days to get reviewed before it was active so I am glad for now it's put to bed!

[2021-04-25 16:14] jcgoble3 commented on #69
@g60madman Would you mind explaining in detail everything you needed to say in that "documentary", and anything else you did, to get it approved? I have [a fork of this project that is stripped down to just the bundling behavior](https://github.com/jcgoble3/gmail-bundling) that has been idle for a while but which I would eventually like to publish. I don't want to fall into the same trap @boukesta

[2021-04-25 16:46] joeytroy commented on #69
@jcgoble3 A couple of things I did

1. I set up a website for our Team, https://teaminbox.dev/ (registered and setup 2019) which also links to our source code
2. We have a link to the support area from the website and also the approved extension https://github.com/team-inbox/inbox-reborn/issues
3. I gave a detailed break down of what is being stored in the *storage justification section of the sub

[2021-04-25 18:31] jcgoble3 commented on #69
Great, thanks! I'll try to follow that template when I eventually submit it. I'm hoping to have something ready for submission by the end of summer. School has been extremely difficult the past two semesters between online classes and senior-level classes (I'm graduating with my bachelor's in computer science this coming December) and taken up a lot of time, but my goal is to work on this around m

[2021-05-25 01:50] #106 closed, assigned to nobody